CSV_to_File_System.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>b9fb6f3a-0195-1000-e4e0-c531e041d4ce</groupId>
    <name>CSV to File System</name>
    <snippet>
        <processGroups>
            <id>0079147f-dea4-31a0-0000-000000000000</id>
            <parentGroupId>26096b85-bfd9-3348-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>09be2ffa-cbb5-3f12-0000-000000000000</id>
                    <parentGroupId>0079147f-dea4-31a0-0000-000000000000</parentGroupId>
                    <versionedComponentId>09be2ffa-cbb5-3f12-9e53-0a94cac81e61</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>0079147f-dea4-31a0-0000-000000000000</groupId>
                        <id>1bebcba9-012f-35e8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>1bebcba9-012f-35e8-9969-ae78d3409691</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>0079147f-dea4-31a0-0000-000000000000</groupId>
                        <id>11851f05-85f2-315b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>11851f05-85f2-315b-b56a-97efe9314ecb</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>20565d0a-8974-3ede-0000-000000000000</id>
                    <parentGroupId>0079147f-dea4-31a0-0000-000000000000</parentGroupId>
                    <versionedComponentId>20565d0a-8974-3ede-853e-a929001c6a79</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>0079147f-dea4-31a0-0000-000000000000</groupId>
                        <id>06cf82c1-fd41-32dd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>06cf82c1-fd41-32dd-b454-160463e01910</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>0079147f-dea4-31a0-0000-000000000000</groupId>
                        <id>b93e2da8-2c6d-3ad9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>b93e2da8-2c6d-3ad9-a4ea-0410520965b0</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>20ac9a9b-1b4b-3ff4-0000-000000000000</id>
                    <parentGroupId>0079147f-dea4-31a0-0000-000000000000</parentGroupId>
                    <versionedComponentId>20ac9a9b-1b4b-3ff4-8b09-8738ca164700</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>0079147f-dea4-31a0-0000-000000000000</groupId>
                        <id>b93e2da8-2c6d-3ad9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>b93e2da8-2c6d-3ad9-a4ea-0410520965b0</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>0079147f-dea4-31a0-0000-000000000000</groupId>
                        <id>0d95dcba-1365-31e3-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>0d95dcba-1365-31e3-8261-c0b63469cfc5</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>4deec39e-95cf-3aae-0000-000000000000</id>
                    <parentGroupId>0079147f-dea4-31a0-0000-000000000000</parentGroupId>
                    <versionedComponentId>4deec39e-95cf-3aae-8bdf-07c520515f28</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>0079147f-dea4-31a0-0000-000000000000</groupId>
                        <id>11851f05-85f2-315b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>11851f05-85f2-315b-b56a-97efe9314ecb</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>0079147f-dea4-31a0-0000-000000000000</groupId>
                        <id>06cf82c1-fd41-32dd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>06cf82c1-fd41-32dd-b454-160463e01910</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>9e01aced-89bd-313f-0000-000000000000</id>
                    <parentGroupId>0079147f-dea4-31a0-0000-000000000000</parentGroupId>
                    <versionedComponentId>9e01aced-89bd-313f-a325-0ab55569db79</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>0079147f-dea4-31a0-0000-000000000000</groupId>
                        <id>d02e68c8-06af-3ce9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>d02e68c8-06af-3ce9-9e3f-7a2d3b1d0ac5</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>0079147f-dea4-31a0-0000-000000000000</groupId>
                        <id>1bebcba9-012f-35e8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>1bebcba9-012f-35e8-9969-ae78d3409691</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ae4fc314-2f24-39f3-0000-000000000000</id>
                    <parentGroupId>0079147f-dea4-31a0-0000-000000000000</parentGroupId>
                    <versionedComponentId>ae4fc314-2f24-39f3-badb-a4dbddb67e0f</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c443bfb9-460a-39df-0000-000000000000</groupId>
                        <id>29b2eba6-8d5c-3308-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>29b2eba6-8d5c-3308-9da4-6577c1f3c333</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>680b6223-69bb-38b2-0000-000000000000</groupId>
                        <id>a42755e6-a12c-3d16-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>a42755e6-a12c-3d16-82c6-240db69e87c2</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ec1ef6fe-f8cd-3e02-0000-000000000000</id>
                    <parentGroupId>0079147f-dea4-31a0-0000-000000000000</parentGroupId>
                    <versionedComponentId>ec1ef6fe-f8cd-3e02-9245-0611d616a17d</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>0079147f-dea4-31a0-0000-000000000000</groupId>
                        <id>0d95dcba-1365-31e3-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>0d95dcba-1365-31e3-8261-c0b63469cfc5</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>0079147f-dea4-31a0-0000-000000000000</groupId>
                        <id>e52e92da-bcb5-39c6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>e52e92da-bcb5-39c6-b671-10142aa82650</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processGroups>
                    <id>680b6223-69bb-38b2-0000-000000000000</id>
                    <parentGroupId>0079147f-dea4-31a0-0000-000000000000</parentGroupId>
                    <position>
                        <x>2352.0</x>
                        <y>-120.0</y>
                    </position>
                    <versionedComponentId>680b6223-69bb-38b2-baf8-d3cbc3b74050</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>230c24bc-5bc7-36db-0000-000000000000</id>
                            <parentGroupId>680b6223-69bb-38b2-0000-000000000000</parentGroupId>
                            <versionedComponentId>230c24bc-5bc7-36db-8572-33cf319962ad</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>680b6223-69bb-38b2-0000-000000000000</groupId>
<id>20cce22c-14db-3791-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>20cce22c-14db-3791-b66e-0239d0b3ef98</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>680b6223-69bb-38b2-0000-000000000000</groupId>
<id>3e2d8ef1-029c-3ef3-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>3e2d8ef1-029c-3ef3-adf8-0d19cdda12af</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>5d2e8ce2-b5a9-3c9f-0000-000000000000</id>
                            <parentGroupId>680b6223-69bb-38b2-0000-000000000000</parentGroupId>
                            <versionedComponentId>5d2e8ce2-b5a9-3c9f-a0df-bae53d4d534a</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>680b6223-69bb-38b2-0000-000000000000</groupId>
<id>adbb8f4d-2227-312a-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>adbb8f4d-2227-312a-ab80-34d9e5c55bde</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>680b6223-69bb-38b2-0000-000000000000</groupId>
<id>f64b5beb-44b1-373b-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>f64b5beb-44b1-373b-9b5d-788207a4805b</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>5d55af4c-5732-3775-0000-000000000000</id>
                            <parentGroupId>680b6223-69bb-38b2-0000-000000000000</parentGroupId>
                            <versionedComponentId>5d55af4c-5732-3775-96ce-d82f5acce3ad</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>680b6223-69bb-38b2-0000-000000000000</groupId>
<id>a42755e6-a12c-3d16-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>a42755e6-a12c-3d16-82c6-240db69e87c2</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>680b6223-69bb-38b2-0000-000000000000</groupId>
<id>20cce22c-14db-3791-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>20cce22c-14db-3791-b66e-0239d0b3ef98</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>d87c5c37-d8e6-3823-0000-000000000000</id>
                            <parentGroupId>680b6223-69bb-38b2-0000-000000000000</parentGroupId>
                            <versionedComponentId>d87c5c37-d8e6-3823-a71c-0272a44e43a4</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>680b6223-69bb-38b2-0000-000000000000</groupId>
<id>3e2d8ef1-029c-3ef3-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>3e2d8ef1-029c-3ef3-adf8-0d19cdda12af</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>680b6223-69bb-38b2-0000-000000000000</groupId>
<id>adbb8f4d-2227-312a-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>adbb8f4d-2227-312a-ab80-34d9e5c55bde</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <outputPorts>
                            <id>a42755e6-a12c-3d16-0000-000000000000</id>
                            <parentGroupId>680b6223-69bb-38b2-0000-000000000000</parentGroupId>
                            <position>
<x>2224.0</x>
<y>328.0</y>
                            </position>
                            <versionedComponentId>a42755e6-a12c-3d16-82c6-240db69e87c2</versionedComponentId>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Output</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>20cce22c-14db-3791-0000-000000000000</id>
                            <parentGroupId>680b6223-69bb-38b2-0000-000000000000</parentGroupId>
                            <position>
<x>2168.0</x>
<y>56.0</y>
                            </position>
                            <versionedComponentId>20cce22c-14db-3791-b66e-0239d0b3ef98</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Replacement Strategy</key>
        <value>
            <name>Replacement Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Regular Expression</key>
        <value>
            <dependencies>
                <dependentValues>Regex Replace</dependentValues>
                <dependentValues>Literal Replace</dependentValues>
                <propertyName>Replacement Strategy</propertyName>
            </dependencies>
            <name>Regular Expression</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>
            <dependencies>
                <dependentValues>Prepend</dependentValues>
                <dependentValues>Regex Replace</dependentValues>
                <dependentValues>Always Replace</dependentValues>
                <dependentValues>Append</dependentValues>
                <dependentValues>Literal Replace</dependentValues>
                <propertyName>Replacement Strategy</propertyName>
            </dependencies>
            <name>Replacement Value</name>
        </value>
    </entry>
    <entry>
        <key>Text to Prepend</key>
        <value>
            <dependencies>
                <dependentValues>Surround</dependentValues>
                <propertyName>Replacement Strategy</propertyName>
            </dependencies>
            <name>Text to Prepend</name>
        </value>
    </entry>
    <entry>
        <key>Text to Append</key>
        <value>
            <dependencies>
                <dependentValues>Surround</dependentValues>
                <propertyName>Replacement Strategy</propertyName>
            </dependencies>
            <name>Text to Append</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>
            <name>Maximum Buffer Size</name>
        </value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>
            <name>Evaluation Mode</name>
        </value>
    </entry>
    <entry>
        <key>Line-by-Line Evaluation Mode</key>
        <value>
            <name>Line-by-Line Evaluation Mode</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Replacement Strategy</key>
        <value>Always Replace</value>
    </entry>
    <entry>
        <key>Regular Expression</key>
        <value>(?s)(^.*$)</value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>{ 
	"field1": "${csv.1}",
	"field2": "${csv.2}",
	"field3": "${csv.3}"
}</value>
    </entry>
    <entry>
        <key>Text to Prepend</key>
    </entry>
    <entry>
        <key>Text to Append</key>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>Entire text</value>
    </entry>
    <entry>
        <key>Line-by-Line Evaluation Mode</key>
        <value>All</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>25</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ReplaceText</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ReplaceText</type>
                        </processors>
                        <processors>
                            <id>3e2d8ef1-029c-3ef3-0000-000000000000</id>
                            <parentGroupId>680b6223-69bb-38b2-0000-000000000000</parentGroupId>
                            <position>
<x>2832.0</x>
<y>40.0</y>
                            </position>
                            <versionedComponentId>3e2d8ef1-029c-3ef3-adf8-0d19cdda12af</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>
            <name>Maximum Buffer Size</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Capture Group Length</key>
        <value>
            <name>Maximum Capture Group Length</name>
        </value>
    </entry>
    <entry>
        <key>Enable Canonical Equivalence</key>
        <value>
            <name>Enable Canonical Equivalence</name>
        </value>
    </entry>
    <entry>
        <key>Enable Case-insensitive Matching</key>
        <value>
            <name>Enable Case-insensitive Matching</name>
        </value>
    </entry>
    <entry>
        <key>Permit Whitespace and Comments in Pattern</key>
        <value>
            <name>Permit Whitespace and Comments in Pattern</name>
        </value>
    </entry>
    <entry>
        <key>Enable DOTALL Mode</key>
        <value>
            <name>Enable DOTALL Mode</name>
        </value>
    </entry>
    <entry>
        <key>Enable Literal Parsing of the Pattern</key>
        <value>
            <name>Enable Literal Parsing of the Pattern</name>
        </value>
    </entry>
    <entry>
        <key>Enable Multiline Mode</key>
        <value>
            <name>Enable Multiline Mode</name>
        </value>
    </entry>
    <entry>
        <key>Enable Unicode-aware Case Folding</key>
        <value>
            <name>Enable Unicode-aware Case Folding</name>
        </value>
    </entry>
    <entry>
        <key>Enable Unicode Predefined Character Classes</key>
        <value>
            <name>Enable Unicode Predefined Character Classes</name>
        </value>
    </entry>
    <entry>
        <key>Enable Unix Lines Mode</key>
        <value>
            <name>Enable Unix Lines Mode</name>
        </value>
    </entry>
    <entry>
        <key>Include Capture Group 0</key>
        <value>
            <name>Include Capture Group 0</name>
        </value>
    </entry>
    <entry>
        <key>extract-text-enable-repeating-capture-group</key>
        <value>
            <name>extract-text-enable-repeating-capture-group</name>
        </value>
    </entry>
    <entry>
        <key>extract-text-enable-named-groups</key>
        <value>
            <name>extract-text-enable-named-groups</name>
        </value>
    </entry>
    <entry>
        <key>csv</key>
        <value>
            <name>csv</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>Maximum Capture Group Length</key>
        <value>1024</value>
    </entry>
    <entry>
        <key>Enable Canonical Equivalence</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Case-insensitive Matching</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Permit Whitespace and Comments in Pattern</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable DOTALL Mode</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Literal Parsing of the Pattern</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Multiline Mode</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Unicode-aware Case Folding</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Unicode Predefined Character Classes</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Unix Lines Mode</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Include Capture Group 0</key>
        <value>true</value>
    </entry>
    <entry>
        <key>extract-text-enable-repeating-capture-group</key>
        <value>false</value>
    </entry>
    <entry>
        <key>extract-text-enable-named-groups</key>
        <value>false</value>
    </entry>
    <entry>
        <key>csv</key>
        <value>(.+),(.+),(.+)</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ExtractText</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ExtractText</type>
                        </processors>
                        <processors>
                            <id>adbb8f4d-2227-312a-0000-000000000000</id>
                            <parentGroupId>680b6223-69bb-38b2-0000-000000000000</parentGroupId>
                            <position>
<x>2832.0</x>
<y>-168.0</y>
                            </position>
                            <versionedComponentId>adbb8f4d-2227-312a-ab80-34d9e5c55bde</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Replacement Strategy</key>
        <value>
            <name>Replacement Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Regular Expression</key>
        <value>
            <dependencies>
                <dependentValues>Regex Replace</dependentValues>
                <dependentValues>Literal Replace</dependentValues>
                <propertyName>Replacement Strategy</propertyName>
            </dependencies>
            <name>Regular Expression</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>
            <dependencies>
                <dependentValues>Prepend</dependentValues>
                <dependentValues>Regex Replace</dependentValues>
                <dependentValues>Always Replace</dependentValues>
                <dependentValues>Append</dependentValues>
                <dependentValues>Literal Replace</dependentValues>
                <propertyName>Replacement Strategy</propertyName>
            </dependencies>
            <name>Replacement Value</name>
        </value>
    </entry>
    <entry>
        <key>Text to Prepend</key>
        <value>
            <dependencies>
                <dependentValues>Surround</dependentValues>
                <propertyName>Replacement Strategy</propertyName>
            </dependencies>
            <name>Text to Prepend</name>
        </value>
    </entry>
    <entry>
        <key>Text to Append</key>
        <value>
            <dependencies>
                <dependentValues>Surround</dependentValues>
                <propertyName>Replacement Strategy</propertyName>
            </dependencies>
            <name>Text to Append</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>
            <name>Maximum Buffer Size</name>
        </value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>
            <name>Evaluation Mode</name>
        </value>
    </entry>
    <entry>
        <key>Line-by-Line Evaluation Mode</key>
        <value>
            <name>Line-by-Line Evaluation Mode</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Replacement Strategy</key>
        <value>Always Replace</value>
    </entry>
    <entry>
        <key>Regular Expression</key>
        <value>(?s)(^.*$)</value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>a,b,c</value>
    </entry>
    <entry>
        <key>Text to Prepend</key>
    </entry>
    <entry>
        <key>Text to Append</key>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>Entire text</value>
    </entry>
    <entry>
        <key>Line-by-Line Evaluation Mode</key>
        <value>All</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>25</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ReplaceText</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ReplaceText</type>
                        </processors>
                        <processors>
                            <id>f64b5beb-44b1-373b-0000-000000000000</id>
                            <parentGroupId>680b6223-69bb-38b2-0000-000000000000</parentGroupId>
                            <position>
<x>2168.0</x>
<y>-168.0</y>
                            </position>
                            <versionedComponentId>f64b5beb-44b1-373b-9b5d-788207a4805b</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>File Size</key>
        <value>
            <name>File Size</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>
            <name>Data Format</name>
        </value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>
            <name>Unique FlowFiles</name>
        </value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
        <value>
            <name>generate-ff-custom-text</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
    <entry>
        <key>mime-type</key>
        <value>
            <name>mime-type</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>File Size</key>
        <value>1B</value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>Text</value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>true</value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>mime-type</key>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>5 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GenerateFlowFile</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>CSV to JSON</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>c443bfb9-460a-39df-0000-000000000000</id>
                    <parentGroupId>0079147f-dea4-31a0-0000-000000000000</parentGroupId>
                    <position>
                        <x>2352.0</x>
                        <y>184.0</y>
                    </position>
                    <versionedComponentId>c443bfb9-460a-39df-8af3-f6278a33e68a</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>6963f3db-5db9-3afe-0000-000000000000</id>
                            <parentGroupId>c443bfb9-460a-39df-0000-000000000000</parentGroupId>
                            <versionedComponentId>6963f3db-5db9-3afe-8e99-6ecb2bbfa2e9</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>c443bfb9-460a-39df-0000-000000000000</groupId>
<id>2b7f6a65-d20e-3e08-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>2b7f6a65-d20e-3e08-826f-fb0f2cb47885</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>c443bfb9-460a-39df-0000-000000000000</groupId>
<id>29b2eba6-8d5c-3308-0000-000000000000</id>
<type>INPUT_PORT</type>
<versionedComponentId>29b2eba6-8d5c-3308-9da4-6577c1f3c333</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>a5484e33-f3fb-3554-0000-000000000000</id>
                            <parentGroupId>c443bfb9-460a-39df-0000-000000000000</parentGroupId>
                            <versionedComponentId>a5484e33-f3fb-3554-a69e-508ea8bac637</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>c443bfb9-460a-39df-0000-000000000000</groupId>
<id>65d1d7d5-3998-377c-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>65d1d7d5-3998-377c-8699-a50368ede6ab</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>c443bfb9-460a-39df-0000-000000000000</groupId>
<id>2b7f6a65-d20e-3e08-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>2b7f6a65-d20e-3e08-826f-fb0f2cb47885</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>b187234c-10ff-3924-0000-000000000000</id>
                            <parentGroupId>c443bfb9-460a-39df-0000-000000000000</parentGroupId>
                            <versionedComponentId>b187234c-10ff-3924-a391-6b922d7b4041</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>c443bfb9-460a-39df-0000-000000000000</groupId>
<id>4cf5c892-6539-30e1-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>4cf5c892-6539-30e1-9ddd-b7524eedec68</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>c443bfb9-460a-39df-0000-000000000000</groupId>
<id>65d1d7d5-3998-377c-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>65d1d7d5-3998-377c-8699-a50368ede6ab</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <inputPorts>
                            <id>29b2eba6-8d5c-3308-0000-000000000000</id>
                            <parentGroupId>c443bfb9-460a-39df-0000-000000000000</parentGroupId>
                            <position>
<x>2008.0</x>
<y>544.0</y>
                            </position>
                            <versionedComponentId>29b2eba6-8d5c-3308-9da4-6577c1f3c333</versionedComponentId>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Input</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <processors>
                            <id>2b7f6a65-d20e-3e08-0000-000000000000</id>
                            <parentGroupId>c443bfb9-460a-39df-0000-000000000000</parentGroupId>
                            <position>
<x>1952.0</x>
<y>296.0</y>
                            </position>
                            <versionedComponentId>2b7f6a65-d20e-3e08-826f-fb0f2cb47885</versionedComponentId>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>filename</key>
        <value>
            <name>filename</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>filename</key>
        <value>${filename}-${now():toNumber():format('dd-MM-yy')}.json</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>25</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>UpdateAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>4cf5c892-6539-30e1-0000-000000000000</id>
                            <parentGroupId>c443bfb9-460a-39df-0000-000000000000</parentGroupId>
                            <position>
<x>2616.0</x>
<y>512.0</y>
                            </position>
                            <versionedComponentId>4cf5c892-6539-30e1-9ddd-b7524eedec68</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Log Level</key>
        <value>
            <name>Log Level</name>
        </value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>
            <name>Log Payload</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
        <value>
            <name>Attributes to Log</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>
            <name>attributes-to-log-regex</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
        <value>
            <name>Attributes to Ignore</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
        <value>
            <name>attributes-to-ignore-regex</name>
        </value>
    </entry>
    <entry>
        <key>Log FlowFile Properties</key>
        <value>
            <name>Log FlowFile Properties</name>
        </value>
    </entry>
    <entry>
        <key>Output Format</key>
        <value>
            <name>Output Format</name>
        </value>
    </entry>
    <entry>
        <key>Log prefix</key>
        <value>
            <name>Log prefix</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Log Level</key>
        <value>info</value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>.*</value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
    </entry>
    <entry>
        <key>Log FlowFile Properties</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Output Format</key>
        <value>Line per Attribute</value>
    </entry>
    <entry>
        <key>Log prefix</key>
    </entry>
    <entry>
        <key>character-set</key>
        <value>windows-1252</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>25</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>LogAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.LogAttribute</type>
                        </processors>
                        <processors>
                            <id>65d1d7d5-3998-377c-0000-000000000000</id>
                            <parentGroupId>c443bfb9-460a-39df-0000-000000000000</parentGroupId>
                            <position>
<x>2616.0</x>
<y>280.0</y>
                            </position>
                            <versionedComponentId>65d1d7d5-3998-377c-8699-a50368ede6ab</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Directory</key>
        <value>
            <name>Directory</name>
        </value>
    </entry>
    <entry>
        <key>Conflict Resolution Strategy</key>
        <value>
            <name>Conflict Resolution Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Create Missing Directories</key>
        <value>
            <name>Create Missing Directories</name>
        </value>
    </entry>
    <entry>
        <key>Maximum File Count</key>
        <value>
            <name>Maximum File Count</name>
        </value>
    </entry>
    <entry>
        <key>Last Modified Time</key>
        <value>
            <name>Last Modified Time</name>
        </value>
    </entry>
    <entry>
        <key>Permissions</key>
        <value>
            <name>Permissions</name>
        </value>
    </entry>
    <entry>
        <key>Owner</key>
        <value>
            <name>Owner</name>
        </value>
    </entry>
    <entry>
        <key>Group</key>
        <value>
            <name>Group</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Directory</key>
        <value> </value>
    </entry>
    <entry>
        <key>Conflict Resolution Strategy</key>
        <value>fail</value>
    </entry>
    <entry>
        <key>Create Missing Directories</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Maximum File Count</key>
    </entry>
    <entry>
        <key>Last Modified Time</key>
    </entry>
    <entry>
        <key>Permissions</key>
    </entry>
    <entry>
        <key>Owner</key>
    </entry>
    <entry>
        <key>Group</key>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutFile</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.PutFile</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Write JSON to File System</name>
                    <variables/>
                </processGroups>
                <processors>
                    <id>06cf82c1-fd41-32dd-0000-000000000000</id>
                    <parentGroupId>0079147f-dea4-31a0-0000-000000000000</parentGroupId>
                    <position>
                        <x>3184.0</x>
                        <y>16.0</y>
                    </position>
                    <versionedComponentId>06cf82c1-fd41-32dd-b454-160463e01910</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.28.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Replacement Strategy</key>
<value>
    <name>Replacement Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Regular Expression</key>
<value>
    <dependencies>
        <dependentValues>Regex Replace</dependentValues>
        <dependentValues>Literal Replace</dependentValues>
        <propertyName>Replacement Strategy</propertyName>
    </dependencies>
    <name>Regular Expression</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>
    <dependencies>
        <dependentValues>Prepend</dependentValues>
        <dependentValues>Regex Replace</dependentValues>
        <dependentValues>Always Replace</dependentValues>
        <dependentValues>Append</dependentValues>
        <dependentValues>Literal Replace</dependentValues>
        <propertyName>Replacement Strategy</propertyName>
    </dependencies>
    <name>Replacement Value</name>
</value>
                            </entry>
                            <entry>
<key>Text to Prepend</key>
<value>
    <dependencies>
        <dependentValues>Surround</dependentValues>
        <propertyName>Replacement Strategy</propertyName>
    </dependencies>
    <name>Text to Prepend</name>
</value>
                            </entry>
                            <entry>
<key>Text to Append</key>
<value>
    <dependencies>
        <dependentValues>Surround</dependentValues>
        <propertyName>Replacement Strategy</propertyName>
    </dependencies>
    <name>Text to Append</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>
    <name>Evaluation Mode</name>
</value>
                            </entry>
                            <entry>
<key>Line-by-Line Evaluation Mode</key>
<value>
    <name>Line-by-Line Evaluation Mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Replacement Strategy</key>
<value>Always Replace</value>
                            </entry>
                            <entry>
<key>Regular Expression</key>
<value>(?s)(^.*$)</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>{ 
	"field1": "${csv.1}",
	"field2": "${csv.2}",
	"field3": "${csv.3}"
}</value>
                            </entry>
                            <entry>
<key>Text to Prepend</key>
                            </entry>
                            <entry>
<key>Text to Append</key>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>Entire text</value>
                            </entry>
                            <entry>
<key>Line-by-Line Evaluation Mode</key>
<value>All</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ReplaceText</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ReplaceText</type>
                </processors>
                <processors>
                    <id>0d95dcba-1365-31e3-0000-000000000000</id>
                    <parentGroupId>0079147f-dea4-31a0-0000-000000000000</parentGroupId>
                    <position>
                        <x>3592.0</x>
                        <y>-208.0</y>
                    </position>
                    <versionedComponentId>0d95dcba-1365-31e3-8261-c0b63469cfc5</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.28.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Replacement Strategy</key>
<value>
    <name>Replacement Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Regular Expression</key>
<value>
    <dependencies>
        <dependentValues>Regex Replace</dependentValues>
        <dependentValues>Literal Replace</dependentValues>
        <propertyName>Replacement Strategy</propertyName>
    </dependencies>
    <name>Regular Expression</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>
    <dependencies>
        <dependentValues>Prepend</dependentValues>
        <dependentValues>Regex Replace</dependentValues>
        <dependentValues>Always Replace</dependentValues>
        <dependentValues>Append</dependentValues>
        <dependentValues>Literal Replace</dependentValues>
        <propertyName>Replacement Strategy</propertyName>
    </dependencies>
    <name>Replacement Value</name>
</value>
                            </entry>
                            <entry>
<key>Text to Prepend</key>
<value>
    <dependencies>
        <dependentValues>Surround</dependentValues>
        <propertyName>Replacement Strategy</propertyName>
    </dependencies>
    <name>Text to Prepend</name>
</value>
                            </entry>
                            <entry>
<key>Text to Append</key>
<value>
    <dependencies>
        <dependentValues>Surround</dependentValues>
        <propertyName>Replacement Strategy</propertyName>
    </dependencies>
    <name>Text to Append</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>
    <name>Evaluation Mode</name>
</value>
                            </entry>
                            <entry>
<key>Line-by-Line Evaluation Mode</key>
<value>
    <name>Line-by-Line Evaluation Mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Replacement Strategy</key>
<value>Always Replace</value>
                            </entry>
                            <entry>
<key>Regular Expression</key>
<value>(?s)(^.*$)</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>a,b,c</value>
                            </entry>
                            <entry>
<key>Text to Prepend</key>
                            </entry>
                            <entry>
<key>Text to Append</key>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>Entire text</value>
                            </entry>
                            <entry>
<key>Line-by-Line Evaluation Mode</key>
<value>All</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ReplaceText</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ReplaceText</type>
                </processors>
                <processors>
                    <id>11851f05-85f2-315b-0000-000000000000</id>
                    <parentGroupId>0079147f-dea4-31a0-0000-000000000000</parentGroupId>
                    <position>
                        <x>3184.0</x>
                        <y>232.0</y>
                    </position>
                    <versionedComponentId>11851f05-85f2-315b-b56a-97efe9314ecb</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.28.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>${filename}-${now():toNumber():format('dd-MM-yy')}.json</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>1bebcba9-012f-35e8-0000-000000000000</id>
                    <parentGroupId>0079147f-dea4-31a0-0000-000000000000</parentGroupId>
                    <position>
                        <x>3592.0</x>
                        <y>224.0</y>
                    </position>
                    <versionedComponentId>1bebcba9-012f-35e8-9969-ae78d3409691</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.28.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Directory</key>
<value>
    <name>Directory</name>
</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>
    <name>Conflict Resolution Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>
    <name>Create Missing Directories</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
<value>
    <name>Maximum File Count</name>
</value>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
<value>
    <name>Last Modified Time</name>
</value>
                            </entry>
                            <entry>
<key>Permissions</key>
<value>
    <name>Permissions</name>
</value>
                            </entry>
                            <entry>
<key>Owner</key>
<value>
    <name>Owner</name>
</value>
                            </entry>
                            <entry>
<key>Group</key>
<value>
    <name>Group</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Directory</key>
<value> </value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>fail</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
                            </entry>
                            <entry>
<key>Permissions</key>
                            </entry>
                            <entry>
<key>Owner</key>
                            </entry>
                            <entry>
<key>Group</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutFile</type>
                </processors>
                <processors>
                    <id>b93e2da8-2c6d-3ad9-0000-000000000000</id>
                    <parentGroupId>0079147f-dea4-31a0-0000-000000000000</parentGroupId>
                    <position>
                        <x>3592.0</x>
                        <y>32.0</y>
                    </position>
                    <versionedComponentId>b93e2da8-2c6d-3ad9-a4ea-0410520965b0</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.28.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Capture Group Length</key>
<value>
    <name>Maximum Capture Group Length</name>
</value>
                            </entry>
                            <entry>
<key>Enable Canonical Equivalence</key>
<value>
    <name>Enable Canonical Equivalence</name>
</value>
                            </entry>
                            <entry>
<key>Enable Case-insensitive Matching</key>
<value>
    <name>Enable Case-insensitive Matching</name>
</value>
                            </entry>
                            <entry>
<key>Permit Whitespace and Comments in Pattern</key>
<value>
    <name>Permit Whitespace and Comments in Pattern</name>
</value>
                            </entry>
                            <entry>
<key>Enable DOTALL Mode</key>
<value>
    <name>Enable DOTALL Mode</name>
</value>
                            </entry>
                            <entry>
<key>Enable Literal Parsing of the Pattern</key>
<value>
    <name>Enable Literal Parsing of the Pattern</name>
</value>
                            </entry>
                            <entry>
<key>Enable Multiline Mode</key>
<value>
    <name>Enable Multiline Mode</name>
</value>
                            </entry>
                            <entry>
<key>Enable Unicode-aware Case Folding</key>
<value>
    <name>Enable Unicode-aware Case Folding</name>
</value>
                            </entry>
                            <entry>
<key>Enable Unicode Predefined Character Classes</key>
<value>
    <name>Enable Unicode Predefined Character Classes</name>
</value>
                            </entry>
                            <entry>
<key>Enable Unix Lines Mode</key>
<value>
    <name>Enable Unix Lines Mode</name>
</value>
                            </entry>
                            <entry>
<key>Include Capture Group 0</key>
<value>
    <name>Include Capture Group 0</name>
</value>
                            </entry>
                            <entry>
<key>extract-text-enable-repeating-capture-group</key>
<value>
    <name>extract-text-enable-repeating-capture-group</name>
</value>
                            </entry>
                            <entry>
<key>extract-text-enable-named-groups</key>
<value>
    <name>extract-text-enable-named-groups</name>
</value>
                            </entry>
                            <entry>
<key>csv</key>
<value>
    <name>csv</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>Maximum Capture Group Length</key>
<value>1024</value>
                            </entry>
                            <entry>
<key>Enable Canonical Equivalence</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Case-insensitive Matching</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Permit Whitespace and Comments in Pattern</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable DOTALL Mode</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Literal Parsing of the Pattern</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Multiline Mode</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Unicode-aware Case Folding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Unicode Predefined Character Classes</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Unix Lines Mode</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Include Capture Group 0</key>
<value>true</value>
                            </entry>
                            <entry>
<key>extract-text-enable-repeating-capture-group</key>
<value>false</value>
                            </entry>
                            <entry>
<key>extract-text-enable-named-groups</key>
<value>false</value>
                            </entry>
                            <entry>
<key>csv</key>
<value>(.+),(.+),(.+)</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExtractText</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExtractText</type>
                </processors>
                <processors>
                    <id>d02e68c8-06af-3ce9-0000-000000000000</id>
                    <parentGroupId>0079147f-dea4-31a0-0000-000000000000</parentGroupId>
                    <position>
                        <x>3592.0</x>
                        <y>440.0</y>
                    </position>
                    <versionedComponentId>d02e68c8-06af-3ce9-9e3f-7a2d3b1d0ac5</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.28.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>
    <name>Log FlowFile Properties</name>
</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>
    <name>Output Format</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>Line per Attribute</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>windows-1252</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>e52e92da-bcb5-39c6-0000-000000000000</id>
                    <parentGroupId>0079147f-dea4-31a0-0000-000000000000</parentGroupId>
                    <position>
                        <x>3184.0</x>
                        <y>-208.0</y>
                    </position>
                    <versionedComponentId>e52e92da-bcb5-39c6-b671-10142aa82650</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.28.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File Size</key>
<value>
    <name>File Size</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>
    <name>Data Format</name>
</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>
    <name>Unique FlowFiles</name>
</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>
    <name>generate-ff-custom-text</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                            <entry>
<key>mime-type</key>
<value>
    <name>mime-type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File Size</key>
<value>4B</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>true</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>mime-type</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>5 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GenerateFlowFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>CSV to File System</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>06/27/2025 15:38:10 IST</timestamp>
</template>
