Run_Yolo_Model_.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>b9fb6f3a-0195-1000-e4e0-c531e041d4ce</groupId>
    <name>Run Yolo Model </name>
    <snippet>
        <processGroups>
            <id>0147f143-a9b6-3b88-0000-000000000000</id>
            <parentGroupId>26096b85-bfd9-3348-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>0147f143-a9b6-3b88-8762-106741b67e42</versionedComponentId>
            <comments></comments>
            <contents>
                <processGroups>
                    <id>54cbe2eb-bbe4-38d8-0000-000000000000</id>
                    <parentGroupId>0147f143-a9b6-3b88-0000-000000000000</parentGroupId>
                    <position>
                        <x>448.0</x>
                        <y>8.0</y>
                    </position>
                    <versionedComponentId>54cbe2eb-bbe4-38d8-a2eb-f7a5c1a914e9</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>07159f3c-025d-38f2-0000-000000000000</id>
                            <parentGroupId>54cbe2eb-bbe4-38d8-0000-000000000000</parentGroupId>
                            <versionedComponentId>07159f3c-025d-38f2-9577-ba6c3c281f63</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>54cbe2eb-bbe4-38d8-0000-000000000000</groupId>
<id>fbb38ce6-1f4f-3580-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>fbb38ce6-1f4f-3580-a362-ab0a2557ad2d</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>54cbe2eb-bbe4-38d8-0000-000000000000</groupId>
<id>471f37ce-4894-377a-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>471f37ce-4894-377a-b2d8-32aa7b585a00</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>17d29c91-6faa-3ad9-0000-000000000000</id>
                            <parentGroupId>54cbe2eb-bbe4-38d8-0000-000000000000</parentGroupId>
                            <versionedComponentId>17d29c91-6faa-3ad9-8726-3b82ff7ab075</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>54cbe2eb-bbe4-38d8-0000-000000000000</groupId>
<id>8a986208-a1e9-3bc1-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>8a986208-a1e9-3bc1-b682-4ea0b72f14b1</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>54cbe2eb-bbe4-38d8-0000-000000000000</groupId>
<id>801c4a91-2d0a-3d73-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>801c4a91-2d0a-3d73-b094-9515b89efeeb</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>551ed07e-4ee9-3ede-0000-000000000000</id>
                            <parentGroupId>54cbe2eb-bbe4-38d8-0000-000000000000</parentGroupId>
                            <versionedComponentId>551ed07e-4ee9-3ede-86d8-42f2577c8d64</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>54cbe2eb-bbe4-38d8-0000-000000000000</groupId>
<id>c8c487a3-dc7f-3121-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>c8c487a3-dc7f-3121-8e7b-ec8c6c2c5b51</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>54cbe2eb-bbe4-38d8-0000-000000000000</groupId>
<id>801c4a91-2d0a-3d73-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>801c4a91-2d0a-3d73-b094-9515b89efeeb</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>61cc7ed3-a9f0-382d-0000-000000000000</id>
                            <parentGroupId>54cbe2eb-bbe4-38d8-0000-000000000000</parentGroupId>
                            <versionedComponentId>61cc7ed3-a9f0-382d-b3bb-5324d07ea5bc</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>54cbe2eb-bbe4-38d8-0000-000000000000</groupId>
<id>d9c42813-7b2b-375c-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>d9c42813-7b2b-375c-bf9f-c3dbb75ecb2f</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>54cbe2eb-bbe4-38d8-0000-000000000000</groupId>
<id>8a986208-a1e9-3bc1-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>8a986208-a1e9-3bc1-b682-4ea0b72f14b1</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>a6c4e92b-8177-3c9e-0000-000000000000</id>
                            <parentGroupId>54cbe2eb-bbe4-38d8-0000-000000000000</parentGroupId>
                            <versionedComponentId>a6c4e92b-8177-3c9e-ac0b-9525a3757fb3</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>54cbe2eb-bbe4-38d8-0000-000000000000</groupId>
<id>02eb0960-b2a6-39d7-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>02eb0960-b2a6-39d7-a174-edd99fd544e2</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>54cbe2eb-bbe4-38d8-0000-000000000000</groupId>
<id>d9c42813-7b2b-375c-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>d9c42813-7b2b-375c-bf9f-c3dbb75ecb2f</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>ab10afe1-52db-3829-0000-000000000000</id>
                            <parentGroupId>54cbe2eb-bbe4-38d8-0000-000000000000</parentGroupId>
                            <versionedComponentId>ab10afe1-52db-3829-aaa2-e8fff00f626b</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>54cbe2eb-bbe4-38d8-0000-000000000000</groupId>
<id>471f37ce-4894-377a-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>471f37ce-4894-377a-b2d8-32aa7b585a00</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>54cbe2eb-bbe4-38d8-0000-000000000000</groupId>
<id>02eb0960-b2a6-39d7-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>02eb0960-b2a6-39d7-a174-edd99fd544e2</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c4e7458f-1a11-33d8-0000-000000000000</id>
                            <parentGroupId>54cbe2eb-bbe4-38d8-0000-000000000000</parentGroupId>
                            <versionedComponentId>c4e7458f-1a11-33d8-94df-30ef37c0903c</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>54cbe2eb-bbe4-38d8-0000-000000000000</groupId>
<id>801c4a91-2d0a-3d73-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>801c4a91-2d0a-3d73-b094-9515b89efeeb</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>54cbe2eb-bbe4-38d8-0000-000000000000</groupId>
<id>8b2348c9-c8ba-3c38-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>8b2348c9-c8ba-3c38-8e37-51c406e9791c</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>ff4ac8cd-e507-319e-0000-000000000000</id>
                            <parentGroupId>54cbe2eb-bbe4-38d8-0000-000000000000</parentGroupId>
                            <versionedComponentId>ff4ac8cd-e507-319e-ac4b-802cc3a4652c</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>54cbe2eb-bbe4-38d8-0000-000000000000</groupId>
<id>e6ee3ae2-7ea8-3a49-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>e6ee3ae2-7ea8-3a49-8d9f-c2e1208eb2c4</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>54cbe2eb-bbe4-38d8-0000-000000000000</groupId>
<id>fbb38ce6-1f4f-3580-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>fbb38ce6-1f4f-3580-a362-ab0a2557ad2d</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <controllerServices>
                            <id>1cec6386-a494-33ef-0000-000000000000</id>
                            <parentGroupId>54cbe2eb-bbe4-38d8-0000-000000000000</parentGroupId>
                            <versionedComponentId>1cec6386-a494-33ef-ba29-14554689c86b</versionedComponentId>
                            <bulletinLevel>WARN</bulletinLevel>
                            <bundle>
<artifact>nifi-mongodb-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>mongo-uri</key>
    <value>
        <name>mongo-uri</name>
    </value>
</entry>
<entry>
    <key>Database User</key>
    <value>
        <name>Database User</name>
    </value>
</entry>
<entry>
    <key>Password</key>
    <value>
        <name>Password</name>
    </value>
</entry>
<entry>
    <key>ssl-context-service</key>
    <value>
        <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
        <name>ssl-context-service</name>
    </value>
</entry>
<entry>
    <key>ssl-client-auth</key>
    <value>
        <name>ssl-client-auth</name>
    </value>
</entry>
                            </descriptors>
                            <name>MongoDBControllerService</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>mongo-uri</key>
    <value> </value>
</entry>
<entry>
    <key>Database User</key>
    <value> </value>
</entry>
<entry>
    <key>Password</key>
</entry>
<entry>
    <key>ssl-context-service</key>
</entry>
<entry>
    <key>ssl-client-auth</key>
    <value>REQUIRED</value>
</entry>
                            </properties>
                            <state>DISABLED</state>
                            <type>org.apache.nifi.mongodb.MongoDBControllerService</type>
                        </controllerServices>
                        <controllerServices>
                            <id>83846755-d562-361a-0000-000000000000</id>
                            <parentGroupId>54cbe2eb-bbe4-38d8-0000-000000000000</parentGroupId>
                            <versionedComponentId>83846755-d562-361a-8561-df57a2a1e6d4</versionedComponentId>
                            <bulletinLevel>WARN</bulletinLevel>
                            <bundle>
<artifact>nifi-record-serialization-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>Schema Write Strategy</key>
    <value>
        <name>Schema Write Strategy</name>
    </value>
</entry>
<entry>
    <key>schema-cache</key>
    <value>
        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
        <name>schema-cache</name>
    </value>
</entry>
<entry>
    <key>schema-protocol-version</key>
    <value>
        <dependencies>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>Schema Write Strategy</propertyName>
        </dependencies>
        <name>schema-protocol-version</name>
    </value>
</entry>
<entry>
    <key>schema-access-strategy</key>
    <value>
        <name>schema-access-strategy</name>
    </value>
</entry>
<entry>
    <key>schema-registry</key>
    <value>
        <dependencies>
            <dependentValues>confluent-encoded</dependentValues>
            <dependentValues>schema-name</dependentValues>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
        <name>schema-registry</name>
    </value>
</entry>
<entry>
    <key>schema-name</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-name</name>
    </value>
</entry>
<entry>
    <key>schema-version</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-version</name>
    </value>
</entry>
<entry>
    <key>schema-branch</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-branch</name>
    </value>
</entry>
<entry>
    <key>schema-text</key>
    <value>
        <dependencies>
            <dependentValues>schema-text-property</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-text</name>
    </value>
</entry>
<entry>
    <key>Date Format</key>
    <value>
        <name>Date Format</name>
    </value>
</entry>
<entry>
    <key>Time Format</key>
    <value>
        <name>Time Format</name>
    </value>
</entry>
<entry>
    <key>Timestamp Format</key>
    <value>
        <name>Timestamp Format</name>
    </value>
</entry>
<entry>
    <key>Pretty Print JSON</key>
    <value>
        <name>Pretty Print JSON</name>
    </value>
</entry>
<entry>
    <key>suppress-nulls</key>
    <value>
        <name>suppress-nulls</name>
    </value>
</entry>
<entry>
    <key>Allow Scientific Notation</key>
    <value>
        <name>Allow Scientific Notation</name>
    </value>
</entry>
<entry>
    <key>output-grouping</key>
    <value>
        <name>output-grouping</name>
    </value>
</entry>
<entry>
    <key>compression-format</key>
    <value>
        <name>compression-format</name>
    </value>
</entry>
<entry>
    <key>compression-level</key>
    <value>
        <dependencies>
            <dependentValues>gzip</dependentValues>
            <propertyName>compression-format</propertyName>
        </dependencies>
        <name>compression-level</name>
    </value>
</entry>
                            </descriptors>
                            <name>JsonRecordSetWriter</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>Schema Write Strategy</key>
    <value>no-schema</value>
</entry>
<entry>
    <key>schema-cache</key>
</entry>
<entry>
    <key>schema-protocol-version</key>
    <value>1</value>
</entry>
<entry>
    <key>schema-access-strategy</key>
    <value>schema-text-property</value>
</entry>
<entry>
    <key>schema-registry</key>
</entry>
<entry>
    <key>schema-name</key>
    <value>${schema.name}</value>
</entry>
<entry>
    <key>schema-version</key>
</entry>
<entry>
    <key>schema-branch</key>
</entry>
<entry>
    <key>schema-text</key>
    <value>{
  "type": "record",
  "name": "mediaDoc",
  "fields": [
    { "name": "fileBase64", "type": "string" },
    { "name": "filename", "type": "string" }
  ]
}</value>
</entry>
<entry>
    <key>Date Format</key>
</entry>
<entry>
    <key>Time Format</key>
</entry>
<entry>
    <key>Timestamp Format</key>
</entry>
<entry>
    <key>Pretty Print JSON</key>
    <value>false</value>
</entry>
<entry>
    <key>suppress-nulls</key>
    <value>never-suppress</value>
</entry>
<entry>
    <key>Allow Scientific Notation</key>
    <value>true</value>
</entry>
<entry>
    <key>output-grouping</key>
    <value>output-oneline</value>
</entry>
<entry>
    <key>compression-format</key>
    <value>none</value>
</entry>
<entry>
    <key>compression-level</key>
    <value>1</value>
</entry>
                            </properties>
                            <state>ENABLED</state>
                            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
                        </controllerServices>
                        <controllerServices>
                            <id>fc814225-a22e-3847-0000-000000000000</id>
                            <parentGroupId>54cbe2eb-bbe4-38d8-0000-000000000000</parentGroupId>
                            <versionedComponentId>fc814225-a22e-3847-af1d-594d6075e11e</versionedComponentId>
                            <bulletinLevel>WARN</bulletinLevel>
                            <bundle>
<artifact>nifi-record-serialization-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>schema-access-strategy</key>
    <value>
        <name>schema-access-strategy</name>
    </value>
</entry>
<entry>
    <key>schema-registry</key>
    <value>
        <dependencies>
            <dependentValues>confluent-encoded</dependentValues>
            <dependentValues>schema-name</dependentValues>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
        <name>schema-registry</name>
    </value>
</entry>
<entry>
    <key>schema-name</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-name</name>
    </value>
</entry>
<entry>
    <key>schema-version</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-version</name>
    </value>
</entry>
<entry>
    <key>schema-branch</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-branch</name>
    </value>
</entry>
<entry>
    <key>schema-text</key>
    <value>
        <dependencies>
            <dependentValues>schema-text-property</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-text</name>
    </value>
</entry>
<entry>
    <key>schema-inference-cache</key>
    <value>
        <dependencies>
            <dependentValues>infer-schema</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
        <name>schema-inference-cache</name>
    </value>
</entry>
<entry>
    <key>starting-field-strategy</key>
    <value>
        <name>starting-field-strategy</name>
    </value>
</entry>
<entry>
    <key>starting-field-name</key>
    <value>
        <dependencies>
            <dependentValues>NESTED_FIELD</dependentValues>
            <propertyName>starting-field-strategy</propertyName>
        </dependencies>
        <name>starting-field-name</name>
    </value>
</entry>
<entry>
    <key>schema-application-strategy</key>
    <value>
        <dependencies>
            <dependentValues>confluent-encoded</dependentValues>
            <dependentValues>schema-name</dependentValues>
            <dependentValues>schema-text-property</dependentValues>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <dependencies>
            <dependentValues>NESTED_FIELD</dependentValues>
            <propertyName>starting-field-strategy</propertyName>
        </dependencies>
        <name>schema-application-strategy</name>
    </value>
</entry>
<entry>
    <key>Max String Length</key>
    <value>
        <name>Max String Length</name>
    </value>
</entry>
<entry>
    <key>Allow Comments</key>
    <value>
        <name>Allow Comments</name>
    </value>
</entry>
<entry>
    <key>Date Format</key>
    <value>
        <name>Date Format</name>
    </value>
</entry>
<entry>
    <key>Time Format</key>
    <value>
        <name>Time Format</name>
    </value>
</entry>
<entry>
    <key>Timestamp Format</key>
    <value>
        <name>Timestamp Format</name>
    </value>
</entry>
                            </descriptors>
                            <name>JsonTreeReader</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>schema-access-strategy</key>
    <value>schema-text-property</value>
</entry>
<entry>
    <key>schema-registry</key>
</entry>
<entry>
    <key>schema-name</key>
    <value>${schema.name}</value>
</entry>
<entry>
    <key>schema-version</key>
</entry>
<entry>
    <key>schema-branch</key>
</entry>
<entry>
    <key>schema-text</key>
    <value>{
  "type": "record",
  "name": "mediaDoc",
  "fields": [
    { "name": "fileBase64", "type": "string" },
    { "name": "filename", "type": "string" }
  ]
}</value>
</entry>
<entry>
    <key>schema-inference-cache</key>
</entry>
<entry>
    <key>starting-field-strategy</key>
    <value>ROOT_NODE</value>
</entry>
<entry>
    <key>starting-field-name</key>
</entry>
<entry>
    <key>schema-application-strategy</key>
    <value>SELECTED_PART</value>
</entry>
<entry>
    <key>Max String Length</key>
    <value>20 MB</value>
</entry>
<entry>
    <key>Allow Comments</key>
    <value>false</value>
</entry>
<entry>
    <key>Date Format</key>
</entry>
<entry>
    <key>Time Format</key>
</entry>
<entry>
    <key>Timestamp Format</key>
</entry>
                            </properties>
                            <state>ENABLED</state>
                            <type>org.apache.nifi.json.JsonTreeReader</type>
                        </controllerServices>
                        <funnels>
                            <id>c8c487a3-dc7f-3121-0000-000000000000</id>
                            <parentGroupId>54cbe2eb-bbe4-38d8-0000-000000000000</parentGroupId>
                            <position>
<x>1208.0</x>
<y>48.0</y>
                            </position>
                            <versionedComponentId>c8c487a3-dc7f-3121-8e7b-ec8c6c2c5b51</versionedComponentId>
                        </funnels>
                        <funnels>
                            <id>e6ee3ae2-7ea8-3a49-0000-000000000000</id>
                            <parentGroupId>54cbe2eb-bbe4-38d8-0000-000000000000</parentGroupId>
                            <position>
<x>1480.0</x>
<y>544.0</y>
                            </position>
                            <versionedComponentId>e6ee3ae2-7ea8-3a49-8d9f-c2e1208eb2c4</versionedComponentId>
                        </funnels>
                        <processors>
                            <id>02eb0960-b2a6-39d7-0000-000000000000</id>
                            <parentGroupId>54cbe2eb-bbe4-38d8-0000-000000000000</parentGroupId>
                            <position>
<x>232.0</x>
<y>512.0</y>
                            </position>
                            <versionedComponentId>02eb0960-b2a6-39d7-a174-edd99fd544e2</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Mode</key>
        <value>
            <name>Mode</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Mode</key>
        <value>Decode</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Decode base64 content</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.Base64EncodeContent</type>
                        </processors>
                        <processors>
                            <id>471f37ce-4894-377a-0000-000000000000</id>
                            <parentGroupId>54cbe2eb-bbe4-38d8-0000-000000000000</parentGroupId>
                            <position>
<x>648.0</x>
<y>512.0</y>
                            </position>
                            <versionedComponentId>471f37ce-4894-377a-b2d8-32aa7b585a00</versionedComponentId>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>_id</key>
        <value>
            <name>_id</name>
        </value>
    </entry>
    <entry>
        <key>filename</key>
        <value>
            <name>filename</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>_id</key>
        <value>${_id}</value>
    </entry>
    <entry>
        <key>filename</key>
        <value>${filename}</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>25</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Update Filename using Flowfile attribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>801c4a91-2d0a-3d73-0000-000000000000</id>
                            <parentGroupId>54cbe2eb-bbe4-38d8-0000-000000000000</parentGroupId>
                            <position>
<x>648.0</x>
<y>16.0</y>
                            </position>
                            <versionedComponentId>801c4a91-2d0a-3d73-b094-9515b89efeeb</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>include-zero-record-flowfiles</key>
        <value>
            <name>include-zero-record-flowfiles</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>record-reader</key>
        <value>fc814225-a22e-3847-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>83846755-d562-361a-0000-000000000000</value>
    </entry>
    <entry>
        <key>include-zero-record-flowfiles</key>
        <value>true</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ConvertRecord</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ConvertRecord</type>
                        </processors>
                        <processors>
                            <id>8a986208-a1e9-3bc1-0000-000000000000</id>
                            <parentGroupId>54cbe2eb-bbe4-38d8-0000-000000000000</parentGroupId>
                            <position>
<x>648.0</x>
<y>272.0</y>
                            </position>
                            <versionedComponentId>8a986208-a1e9-3bc1-b682-4ea0b72f14b1</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>
            <name>Return Type</name>
        </value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>
            <dependencies>
                <dependentValues>flowfile-attribute</dependentValues>
                <propertyName>Destination</propertyName>
            </dependencies>
            <name>Path Not Found Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
    <entry>
        <key>Max String Length</key>
        <value>
            <name>Max String Length</name>
        </value>
    </entry>
    <entry>
        <key>_id</key>
        <value>
            <name>_id</name>
        </value>
    </entry>
    <entry>
        <key>filename</key>
        <value>
            <name>filename</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Destination</key>
        <value>flowfile-attribute</value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>auto-detect</value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>ignore</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
    <entry>
        <key>Max String Length</key>
        <value>20 MB</value>
    </entry>
    <entry>
        <key>_id</key>
        <value>$._id</value>
    </entry>
    <entry>
        <key>filename</key>
        <value>$.filename</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Set Flowfile Attributes</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                        </processors>
                        <processors>
                            <id>8b2348c9-c8ba-3c38-0000-000000000000</id>
                            <parentGroupId>54cbe2eb-bbe4-38d8-0000-000000000000</parentGroupId>
                            <position>
<x>240.0</x>
<y>16.0</y>
                            </position>
                            <versionedComponentId>8b2348c9-c8ba-3c38-8e37-51c406e9791c</versionedComponentId>
                            <bundle>
<artifact>nifi-mongodb-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>mongo-client-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.mongodb.MongoDBClientService</identifiesControllerService>
            <name>mongo-client-service</name>
        </value>
    </entry>
    <entry>
        <key>Mongo URI</key>
        <value>
            <name>Mongo URI</name>
        </value>
    </entry>
    <entry>
        <key>Mongo Database Name</key>
        <value>
            <name>Mongo Database Name</name>
        </value>
    </entry>
    <entry>
        <key>Mongo Collection Name</key>
        <value>
            <name>Mongo Collection Name</name>
        </value>
    </entry>
    <entry>
        <key>ssl-context-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl-context-service</name>
        </value>
    </entry>
    <entry>
        <key>ssl-client-auth</key>
        <value>
            <name>ssl-client-auth</name>
        </value>
    </entry>
    <entry>
        <key>json-type</key>
        <value>
            <name>json-type</name>
        </value>
    </entry>
    <entry>
        <key>use-pretty-printing</key>
        <value>
            <name>use-pretty-printing</name>
        </value>
    </entry>
    <entry>
        <key>mongo-charset</key>
        <value>
            <name>mongo-charset</name>
        </value>
    </entry>
    <entry>
        <key>Query</key>
        <value>
            <name>Query</name>
        </value>
    </entry>
    <entry>
        <key>mongo-query-attribute</key>
        <value>
            <name>mongo-query-attribute</name>
        </value>
    </entry>
    <entry>
        <key>Projection</key>
        <value>
            <name>Projection</name>
        </value>
    </entry>
    <entry>
        <key>Sort</key>
        <value>
            <name>Sort</name>
        </value>
    </entry>
    <entry>
        <key>Limit</key>
        <value>
            <name>Limit</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>results-per-flowfile</key>
        <value>
            <name>results-per-flowfile</name>
        </value>
    </entry>
    <entry>
        <key>mongo-date-format</key>
        <value>
            <name>mongo-date-format</name>
        </value>
    </entry>
    <entry>
        <key>get-mongo-send-empty</key>
        <value>
            <name>get-mongo-send-empty</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>mongo-client-service</key>
        <value>1cec6386-a494-33ef-0000-000000000000</value>
    </entry>
    <entry>
        <key>Mongo URI</key>
    </entry>
    <entry>
        <key>Mongo Database Name</key>
        <value> </value>
    </entry>
    <entry>
        <key>Mongo Collection Name</key>
        <value> </value>
    </entry>
    <entry>
        <key>ssl-context-service</key>
    </entry>
    <entry>
        <key>ssl-client-auth</key>
        <value>REQUIRED</value>
    </entry>
    <entry>
        <key>json-type</key>
        <value>Standard</value>
    </entry>
    <entry>
        <key>use-pretty-printing</key>
        <value>true</value>
    </entry>
    <entry>
        <key>mongo-charset</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Query</key>
        <value>{"fileBase64": {"$exists": true}}</value>
    </entry>
    <entry>
        <key>mongo-query-attribute</key>
    </entry>
    <entry>
        <key>Projection</key>
        <value>{ "_id": 0, "filename": 1, "fileBase64": 1 }</value>
    </entry>
    <entry>
        <key>Sort</key>
        <value>{"createdAt": -1}</value>
    </entry>
    <entry>
        <key>Limit</key>
    </entry>
    <entry>
        <key>Batch Size</key>
    </entry>
    <entry>
        <key>results-per-flowfile</key>
    </entry>
    <entry>
        <key>mongo-date-format</key>
        <value>yyyy-MM-dd'T'HH:mm:ss'Z'</value>
    </entry>
    <entry>
        <key>get-mongo-send-empty</key>
        <value>false</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>15 min</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GetMongo</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.mongodb.GetMongo</type>
                        </processors>
                        <processors>
                            <id>d9c42813-7b2b-375c-0000-000000000000</id>
                            <parentGroupId>54cbe2eb-bbe4-38d8-0000-000000000000</parentGroupId>
                            <position>
<x>232.0</x>
<y>272.0</y>
                            </position>
                            <versionedComponentId>d9c42813-7b2b-375c-bf9f-c3dbb75ecb2f</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>
            <name>Return Type</name>
        </value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>
            <dependencies>
                <dependentValues>flowfile-attribute</dependentValues>
                <propertyName>Destination</propertyName>
            </dependencies>
            <name>Path Not Found Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
    <entry>
        <key>Max String Length</key>
        <value>
            <name>Max String Length</name>
        </value>
    </entry>
    <entry>
        <key>fileBase64</key>
        <value>
            <name>fileBase64</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Destination</key>
        <value>flowfile-content</value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>auto-detect</value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>ignore</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
    <entry>
        <key>Max String Length</key>
        <value>20 MB</value>
    </entry>
    <entry>
        <key>fileBase64</key>
        <value>$.fileBase64</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Set Flowfile Content</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                        </processors>
                        <processors>
                            <id>fbb38ce6-1f4f-3580-0000-000000000000</id>
                            <parentGroupId>54cbe2eb-bbe4-38d8-0000-000000000000</parentGroupId>
                            <position>
<x>1072.0</x>
<y>512.0</y>
                            </position>
                            <versionedComponentId>fbb38ce6-1f4f-3580-a362-ab0a2557ad2d</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Directory</key>
        <value>
            <name>Directory</name>
        </value>
    </entry>
    <entry>
        <key>Conflict Resolution Strategy</key>
        <value>
            <name>Conflict Resolution Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Create Missing Directories</key>
        <value>
            <name>Create Missing Directories</name>
        </value>
    </entry>
    <entry>
        <key>Maximum File Count</key>
        <value>
            <name>Maximum File Count</name>
        </value>
    </entry>
    <entry>
        <key>Last Modified Time</key>
        <value>
            <name>Last Modified Time</name>
        </value>
    </entry>
    <entry>
        <key>Permissions</key>
        <value>
            <name>Permissions</name>
        </value>
    </entry>
    <entry>
        <key>Owner</key>
        <value>
            <name>Owner</name>
        </value>
    </entry>
    <entry>
        <key>Group</key>
        <value>
            <name>Group</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Directory</key>
        <value> </value>
    </entry>
    <entry>
        <key>Conflict Resolution Strategy</key>
        <value>ignore</value>
    </entry>
    <entry>
        <key>Create Missing Directories</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Maximum File Count</key>
    </entry>
    <entry>
        <key>Last Modified Time</key>
    </entry>
    <entry>
        <key>Permissions</key>
    </entry>
    <entry>
        <key>Owner</key>
    </entry>
    <entry>
        <key>Group</key>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutFile</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.PutFile</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <logFileSuffix></logFileSuffix>
                    <name>Upload MongoDB Database Document Extraction</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>81ca30c1-25d2-312e-0000-000000000000</id>
                    <parentGroupId>0147f143-a9b6-3b88-0000-000000000000</parentGroupId>
                    <position>
                        <x>448.0</x>
                        <y>736.0</y>
                    </position>
                    <versionedComponentId>81ca30c1-25d2-312e-997a-8802cd6730d7</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>10b16d93-44a1-3d88-0000-000000000000</id>
                            <parentGroupId>81ca30c1-25d2-312e-0000-000000000000</parentGroupId>
                            <versionedComponentId>10b16d93-44a1-3d88-87a5-61d5b396ce3c</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>81ca30c1-25d2-312e-0000-000000000000</groupId>
<id>d9bdba0c-7a1e-3699-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>d9bdba0c-7a1e-3699-96f4-d97d05440f42</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>81ca30c1-25d2-312e-0000-000000000000</groupId>
<id>2bb0241b-9021-375d-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>2bb0241b-9021-375d-af3c-2dcf85684f53</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>111dbc8c-acef-31bc-0000-000000000000</id>
                            <parentGroupId>81ca30c1-25d2-312e-0000-000000000000</parentGroupId>
                            <versionedComponentId>111dbc8c-acef-31bc-92e7-5a2233b7419f</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>81ca30c1-25d2-312e-0000-000000000000</groupId>
<id>9dc54a04-94f9-3dca-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>9dc54a04-94f9-3dca-948d-46c171055517</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>81ca30c1-25d2-312e-0000-000000000000</groupId>
<id>3d710b44-cd0b-32e1-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>3d710b44-cd0b-32e1-9edc-2f3889de4f6a</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>32369e3c-9f06-3b4f-0000-000000000000</id>
                            <parentGroupId>81ca30c1-25d2-312e-0000-000000000000</parentGroupId>
                            <versionedComponentId>32369e3c-9f06-3b4f-91fd-48feb1536113</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>81ca30c1-25d2-312e-0000-000000000000</groupId>
<id>623b167f-5c32-388b-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>623b167f-5c32-388b-a868-6c29b9c69f21</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>81ca30c1-25d2-312e-0000-000000000000</groupId>
<id>9dc54a04-94f9-3dca-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>9dc54a04-94f9-3dca-948d-46c171055517</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>90d7de30-3681-3e2c-0000-000000000000</id>
                            <parentGroupId>81ca30c1-25d2-312e-0000-000000000000</parentGroupId>
                            <versionedComponentId>90d7de30-3681-3e2c-bb1b-e7163ce62395</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>81ca30c1-25d2-312e-0000-000000000000</groupId>
<id>55f96e76-0019-301b-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>55f96e76-0019-301b-89c2-1b8f2af2d86e</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>81ca30c1-25d2-312e-0000-000000000000</groupId>
<id>623b167f-5c32-388b-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>623b167f-5c32-388b-a868-6c29b9c69f21</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>9eb61f96-a436-3ae2-0000-000000000000</id>
                            <parentGroupId>81ca30c1-25d2-312e-0000-000000000000</parentGroupId>
                            <versionedComponentId>9eb61f96-a436-3ae2-94d8-e525f6cc807b</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>81ca30c1-25d2-312e-0000-000000000000</groupId>
<id>1a7f45fb-02d6-3917-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>1a7f45fb-02d6-3917-b168-50e1ae8513e9</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>81ca30c1-25d2-312e-0000-000000000000</groupId>
<id>623b167f-5c32-388b-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>623b167f-5c32-388b-a868-6c29b9c69f21</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>bbe73af9-45b5-36e2-0000-000000000000</id>
                            <parentGroupId>81ca30c1-25d2-312e-0000-000000000000</parentGroupId>
                            <versionedComponentId>bbe73af9-45b5-36e2-b1bd-43aaf518a934</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>81ca30c1-25d2-312e-0000-000000000000</groupId>
<id>2bb0241b-9021-375d-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>2bb0241b-9021-375d-af3c-2dcf85684f53</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>81ca30c1-25d2-312e-0000-000000000000</groupId>
<id>55f96e76-0019-301b-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>55f96e76-0019-301b-89c2-1b8f2af2d86e</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <controllerServices>
                            <id>e4bf2689-91de-3d82-0000-000000000000</id>
                            <parentGroupId>81ca30c1-25d2-312e-0000-000000000000</parentGroupId>
                            <versionedComponentId>e4bf2689-91de-3d82-b5a4-ca7aba59745f</versionedComponentId>
                            <bulletinLevel>WARN</bulletinLevel>
                            <bundle>
<artifact>nifi-mongodb-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>mongo-uri</key>
    <value>
        <name>mongo-uri</name>
    </value>
</entry>
<entry>
    <key>Database User</key>
    <value>
        <name>Database User</name>
    </value>
</entry>
<entry>
    <key>Password</key>
    <value>
        <name>Password</name>
    </value>
</entry>
<entry>
    <key>ssl-context-service</key>
    <value>
        <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
        <name>ssl-context-service</name>
    </value>
</entry>
<entry>
    <key>ssl-client-auth</key>
    <value>
        <name>ssl-client-auth</name>
    </value>
</entry>
                            </descriptors>
                            <name>MongoDBControllerService</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>mongo-uri</key>
    <value> </value>
</entry>
<entry>
    <key>Database User</key>
    <value> </value>
</entry>
<entry>
    <key>Password</key>
</entry>
<entry>
    <key>ssl-context-service</key>
</entry>
<entry>
    <key>ssl-client-auth</key>
    <value>REQUIRED</value>
</entry>
                            </properties>
                            <state>DISABLED</state>
                            <type>org.apache.nifi.mongodb.MongoDBControllerService</type>
                        </controllerServices>
                        <funnels>
                            <id>1a7f45fb-02d6-3917-0000-000000000000</id>
                            <parentGroupId>81ca30c1-25d2-312e-0000-000000000000</parentGroupId>
                            <position>
<x>2456.0</x>
<y>1752.0</y>
                            </position>
                            <versionedComponentId>1a7f45fb-02d6-3917-b168-50e1ae8513e9</versionedComponentId>
                        </funnels>
                        <funnels>
                            <id>d9bdba0c-7a1e-3699-0000-000000000000</id>
                            <parentGroupId>81ca30c1-25d2-312e-0000-000000000000</parentGroupId>
                            <position>
<x>1992.0</x>
<y>2008.0</y>
                            </position>
                            <versionedComponentId>d9bdba0c-7a1e-3699-96f4-d97d05440f42</versionedComponentId>
                        </funnels>
                        <processors>
                            <id>2bb0241b-9021-375d-0000-000000000000</id>
                            <parentGroupId>81ca30c1-25d2-312e-0000-000000000000</parentGroupId>
                            <position>
<x>1560.0</x>
<y>1976.0</y>
                            </position>
                            <versionedComponentId>2bb0241b-9021-375d-af3c-2dcf85684f53</versionedComponentId>
                            <bundle>
<artifact>nifi-mongodb-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>mongo-client-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.mongodb.MongoDBClientService</identifiesControllerService>
            <name>mongo-client-service</name>
        </value>
    </entry>
    <entry>
        <key>Mongo URI</key>
        <value>
            <name>Mongo URI</name>
        </value>
    </entry>
    <entry>
        <key>Mongo Database Name</key>
        <value>
            <name>Mongo Database Name</name>
        </value>
    </entry>
    <entry>
        <key>Mongo Collection Name</key>
        <value>
            <name>Mongo Collection Name</name>
        </value>
    </entry>
    <entry>
        <key>ssl-context-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl-context-service</name>
        </value>
    </entry>
    <entry>
        <key>ssl-client-auth</key>
        <value>
            <name>ssl-client-auth</name>
        </value>
    </entry>
    <entry>
        <key>Mode</key>
        <value>
            <name>Mode</name>
        </value>
    </entry>
    <entry>
        <key>Upsert</key>
        <value>
            <name>Upsert</name>
        </value>
    </entry>
    <entry>
        <key>Update Query Key</key>
        <value>
            <name>Update Query Key</name>
        </value>
    </entry>
    <entry>
        <key>putmongo-update-query</key>
        <value>
            <name>putmongo-update-query</name>
        </value>
    </entry>
    <entry>
        <key>put-mongo-update-mode</key>
        <value>
            <name>put-mongo-update-mode</name>
        </value>
    </entry>
    <entry>
        <key>Write Concern</key>
        <value>
            <name>Write Concern</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>mongo-client-service</key>
        <value>e4bf2689-91de-3d82-0000-000000000000</value>
    </entry>
    <entry>
        <key>Mongo URI</key>
    </entry>
    <entry>
        <key>Mongo Database Name</key>
        <value> </value>
    </entry>
    <entry>
        <key>Mongo Collection Name</key>
        <value> </value>
    </entry>
    <entry>
        <key>ssl-context-service</key>
    </entry>
    <entry>
        <key>ssl-client-auth</key>
        <value>REQUIRED</value>
    </entry>
    <entry>
        <key>Mode</key>
        <value>update</value>
    </entry>
    <entry>
        <key>Upsert</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Update Query Key</key>
        <value>filename</value>
    </entry>
    <entry>
        <key>putmongo-update-query</key>
    </entry>
    <entry>
        <key>put-mongo-update-mode</key>
        <value>doc</value>
    </entry>
    <entry>
        <key>Write Concern</key>
        <value>ACKNOWLEDGED</value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Store labels json format to Database</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.mongodb.PutMongo</type>
                        </processors>
                        <processors>
                            <id>3d710b44-cd0b-32e1-0000-000000000000</id>
                            <parentGroupId>81ca30c1-25d2-312e-0000-000000000000</parentGroupId>
                            <position>
<x>1560.0</x>
<y>1440.0</y>
                            </position>
                            <versionedComponentId>3d710b44-cd0b-32e1-9edc-2f3889de4f6a</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Input Directory</key>
        <value>
            <name>Input Directory</name>
        </value>
    </entry>
    <entry>
        <key>listing-strategy</key>
        <value>
            <name>listing-strategy</name>
        </value>
    </entry>
    <entry>
        <key>Recurse Subdirectories</key>
        <value>
            <name>Recurse Subdirectories</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>Input Directory Location</key>
        <value>
            <name>Input Directory Location</name>
        </value>
    </entry>
    <entry>
        <key>File Filter</key>
        <value>
            <name>File Filter</name>
        </value>
    </entry>
    <entry>
        <key>Path Filter</key>
        <value>
            <name>Path Filter</name>
        </value>
    </entry>
    <entry>
        <key>Include File Attributes</key>
        <value>
            <name>Include File Attributes</name>
        </value>
    </entry>
    <entry>
        <key>Minimum File Age</key>
        <value>
            <name>Minimum File Age</name>
        </value>
    </entry>
    <entry>
        <key>Maximum File Age</key>
        <value>
            <name>Maximum File Age</name>
        </value>
    </entry>
    <entry>
        <key>Minimum File Size</key>
        <value>
            <name>Minimum File Size</name>
        </value>
    </entry>
    <entry>
        <key>Maximum File Size</key>
        <value>
            <name>Maximum File Size</name>
        </value>
    </entry>
    <entry>
        <key>Ignore Hidden Files</key>
        <value>
            <name>Ignore Hidden Files</name>
        </value>
    </entry>
    <entry>
        <key>target-system-timestamp-precision</key>
        <value>
            <name>target-system-timestamp-precision</name>
        </value>
    </entry>
    <entry>
        <key>et-state-cache</key>
        <value>
            <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
            <name>et-state-cache</name>
        </value>
    </entry>
    <entry>
        <key>et-time-window</key>
        <value>
            <name>et-time-window</name>
        </value>
    </entry>
    <entry>
        <key>et-initial-listing-target</key>
        <value>
            <name>et-initial-listing-target</name>
        </value>
    </entry>
    <entry>
        <key>et-node-identifier</key>
        <value>
            <name>et-node-identifier</name>
        </value>
    </entry>
    <entry>
        <key>track-performance</key>
        <value>
            <name>track-performance</name>
        </value>
    </entry>
    <entry>
        <key>max-performance-metrics</key>
        <value>
            <name>max-performance-metrics</name>
        </value>
    </entry>
    <entry>
        <key>max-operation-time</key>
        <value>
            <name>max-operation-time</name>
        </value>
    </entry>
    <entry>
        <key>max-listing-time</key>
        <value>
            <name>max-listing-time</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Input Directory</key>
        <value> </value>
    </entry>
    <entry>
        <key>listing-strategy</key>
        <value>timestamps</value>
    </entry>
    <entry>
        <key>Recurse Subdirectories</key>
        <value>true</value>
    </entry>
    <entry>
        <key>record-writer</key>
    </entry>
    <entry>
        <key>Input Directory Location</key>
        <value>Local</value>
    </entry>
    <entry>
        <key>File Filter</key>
        <value>[^\.].*\.txt</value>
    </entry>
    <entry>
        <key>Path Filter</key>
    </entry>
    <entry>
        <key>Include File Attributes</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Minimum File Age</key>
        <value>0 sec</value>
    </entry>
    <entry>
        <key>Maximum File Age</key>
    </entry>
    <entry>
        <key>Minimum File Size</key>
        <value>0 B</value>
    </entry>
    <entry>
        <key>Maximum File Size</key>
    </entry>
    <entry>
        <key>Ignore Hidden Files</key>
        <value>true</value>
    </entry>
    <entry>
        <key>target-system-timestamp-precision</key>
        <value>auto-detect</value>
    </entry>
    <entry>
        <key>et-state-cache</key>
    </entry>
    <entry>
        <key>et-time-window</key>
        <value>3 hours</value>
    </entry>
    <entry>
        <key>et-initial-listing-target</key>
        <value>all</value>
    </entry>
    <entry>
        <key>et-node-identifier</key>
        <value>${hostname()}</value>
    </entry>
    <entry>
        <key>track-performance</key>
        <value>false</value>
    </entry>
    <entry>
        <key>max-performance-metrics</key>
        <value>100000</value>
    </entry>
    <entry>
        <key>max-operation-time</key>
        <value>10 secs</value>
    </entry>
    <entry>
        <key>max-listing-time</key>
        <value>3 mins</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>List Labels txt files</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ListFile</type>
                        </processors>
                        <processors>
                            <id>55f96e76-0019-301b-0000-000000000000</id>
                            <parentGroupId>81ca30c1-25d2-312e-0000-000000000000</parentGroupId>
                            <position>
<x>1560.0</x>
<y>1720.0</y>
                            </position>
                            <versionedComponentId>55f96e76-0019-301b-89c2-1b8f2af2d86e</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>jolt-transform</key>
        <value>
            <name>jolt-transform</name>
        </value>
    </entry>
    <entry>
        <key>jolt-custom-class</key>
        <value>
            <dependencies>
                <dependentValues>jolt-transform-custom</dependentValues>
                <propertyName>jolt-transform</propertyName>
            </dependencies>
            <name>jolt-custom-class</name>
        </value>
    </entry>
    <entry>
        <key>jolt-custom-modules</key>
        <value>
            <dependencies>
                <dependentValues>jolt-transform-custom</dependentValues>
                <propertyName>jolt-transform</propertyName>
            </dependencies>
            <name>jolt-custom-modules</name>
        </value>
    </entry>
    <entry>
        <key>jolt-spec</key>
        <value>
            <name>jolt-spec</name>
        </value>
    </entry>
    <entry>
        <key>Transform Cache Size</key>
        <value>
            <name>Transform Cache Size</name>
        </value>
    </entry>
    <entry>
        <key>pretty_print</key>
        <value>
            <name>pretty_print</name>
        </value>
    </entry>
    <entry>
        <key>Max String Length</key>
        <value>
            <name>Max String Length</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>jolt-transform</key>
        <value>jolt-transform-chain</value>
    </entry>
    <entry>
        <key>jolt-custom-class</key>
    </entry>
    <entry>
        <key>jolt-custom-modules</key>
    </entry>
    <entry>
        <key>jolt-spec</key>
        <value>[
  {
    "operation": "shift",
    "spec": {
      "annotations": "annotations",
      "#${filename}": "filename"
    }
  }
]</value>
    </entry>
    <entry>
        <key>Transform Cache Size</key>
        <value>50</value>
    </entry>
    <entry>
        <key>pretty_print</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Max String Length</key>
        <value>20 MB</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Converting flowfile content to Json</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                        </processors>
                        <processors>
                            <id>623b167f-5c32-388b-0000-000000000000</id>
                            <parentGroupId>81ca30c1-25d2-312e-0000-000000000000</parentGroupId>
                            <position>
<x>2024.0</x>
<y>1720.0</y>
                            </position>
                            <versionedComponentId>623b167f-5c32-388b-a868-6c29b9c69f21</versionedComponentId>
                            <bundle>
<artifact>nifi-scripting-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Script Engine</key>
        <value>
            <name>Script Engine</name>
        </value>
    </entry>
    <entry>
        <key>Script File</key>
        <value>
            <name>Script File</name>
        </value>
    </entry>
    <entry>
        <key>Script Body</key>
        <value>
            <name>Script Body</name>
        </value>
    </entry>
    <entry>
        <key>Module Directory</key>
        <value>
            <name>Module Directory</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Script Engine</key>
        <value>Groovy</value>
    </entry>
    <entry>
        <key>Script File</key>
    </entry>
    <entry>
        <key>Script Body</key>
        <value>import groovy.json.JsonOutput
import org.apache.nifi.processor.io.StreamCallback
import org.apache.nifi.flowfile.FlowFile

def flowFile = session.get()
if (flowFile) {
    try {
        // COCO dataset class map (80 classes for yolov5x.pt)
        def classMap = [
            0: 'person', 1: 'bicycle', 2: 'car', 3: 'motorcycle', 4: 'airplane', 5: 'bus',
            6: 'train', 7: 'truck', 8: 'boat', 9: 'traffic light', 10: 'fire hydrant',
            11: 'stop sign', 12: 'parking meter', 13: 'bench', 14: 'bird', 15: 'cat',
            16: 'dog', 17: 'horse', 18: 'sheep', 19: 'cow', 20: 'elephant', 21: 'bear',
            22: 'zebra', 23: 'giraffe', 24: 'backpack', 25: 'umbrella', 26: 'handbag',
            27: 'tie', 28: 'suitcase', 29: 'frisbee', 30: 'skis', 31: 'snowboard',
            32: 'sports ball', 33: 'kite', 34: 'baseball bat', 35: 'baseball glove',
            36: 'skateboard', 37: 'surfboard', 38: 'tennis racket', 39: 'bottle',
            40: 'wine glass', 41: 'cup', 42: 'fork', 43: 'knife', 44: 'spoon',
            45: 'bowl', 46: 'banana', 47: 'apple', 48: 'sandwich', 49: 'orange',
            50: 'broccoli', 51: 'carrot', 52: 'hot dog', 53: 'pizza', 54: 'donut',
            55: 'cake', 56: 'chair', 57: 'couch', 58: 'potted plant', 59: 'bed',
            60: 'dining table', 61: 'toilet', 62: 'tv', 63: 'laptop', 64: 'mouse',
            65: 'remote', 66: 'keyboard', 67: 'cell phone', 68: 'microwave', 69: 'oven',
            70: 'toaster', 71: 'sink', 72: 'refrigerator', 73: 'book', 74: 'clock',
            75: 'vase', 76: 'scissors', 77: 'teddy bear', 78: 'hair drier', 79: 'toothbrush'
        ]

        // Read and process FlowFile content
        def content = session.read(flowFile).text.split('\n').findAll { it.trim() }

        // Parse each line and convert to JSON-compatible structure
        def annotations = content.withIndex().collect { line, index -&gt;
            def parts = line.split(' ').collect { it.toDouble() }
            if (parts.size() != 6 || parts.any { it.isNaN() }) {
                throw new Exception("Invalid line format at line ${index + 1}: $line")
            }
            def (classId, x_center, y_center, width, height, conf) = parts

            [
                x: x_center - width / 2,  // Convert center to top-left x
                y: y_center - height / 2, // Convert center to top-left y
                width: width,
                height: height,
                label: classMap[(int)classId] ?: "class_${classId}",
                confidence: conf
            ]
        }

        // Write JSON output to FlowFile
        flowFile = session.write(flowFile, { inputStream, outputStream -&gt;
            outputStream.write(JsonOutput.prettyPrint(JsonOutput.toJson([annotations: annotations])).bytes)
        } as StreamCallback)

        session.transfer(flowFile, REL_SUCCESS)
    } catch (e) {
        // Log error and transfer to failure
        log.error("Error processing FlowFile: ${e.message}")
        session.transfer(flowFile, REL_FAILURE)
    }
}</value>
    </entry>
    <entry>
        <key>Module Directory</key>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Mapping Labels </name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.script.ExecuteScript</type>
                        </processors>
                        <processors>
                            <id>9dc54a04-94f9-3dca-0000-000000000000</id>
                            <parentGroupId>81ca30c1-25d2-312e-0000-000000000000</parentGroupId>
                            <position>
<x>2024.0</x>
<y>1440.0</y>
                            </position>
                            <versionedComponentId>9dc54a04-94f9-3dca-948d-46c171055517</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>File to Fetch</key>
        <value>
            <name>File to Fetch</name>
        </value>
    </entry>
    <entry>
        <key>Completion Strategy</key>
        <value>
            <name>Completion Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Move Destination Directory</key>
        <value>
            <name>Move Destination Directory</name>
        </value>
    </entry>
    <entry>
        <key>Move Conflict Strategy</key>
        <value>
            <name>Move Conflict Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Log level when file not found</key>
        <value>
            <name>Log level when file not found</name>
        </value>
    </entry>
    <entry>
        <key>Log level when permission denied</key>
        <value>
            <name>Log level when permission denied</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>File to Fetch</key>
        <value>${absolute.path}/${filename}</value>
    </entry>
    <entry>
        <key>Completion Strategy</key>
        <value>None</value>
    </entry>
    <entry>
        <key>Move Destination Directory</key>
    </entry>
    <entry>
        <key>Move Conflict Strategy</key>
        <value>Rename</value>
    </entry>
    <entry>
        <key>Log level when file not found</key>
        <value>ERROR</value>
    </entry>
    <entry>
        <key>Log level when permission denied</key>
        <value>ERROR</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Fetch txt file contents</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>not.found</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>permission.denied</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.FetchFile</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Update Labels Database</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>b3aed196-d56d-3315-0000-000000000000</id>
                    <parentGroupId>0147f143-a9b6-3b88-0000-000000000000</parentGroupId>
                    <position>
                        <x>448.0</x>
                        <y>256.0</y>
                    </position>
                    <versionedComponentId>b3aed196-d56d-3315-900a-b0a238e774b9</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>3b56850d-5b3e-3d82-0000-000000000000</id>
                            <parentGroupId>b3aed196-d56d-3315-0000-000000000000</parentGroupId>
                            <versionedComponentId>40ee55a7-7962-3082-9f5f-cfd2c0864c29</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>b3aed196-d56d-3315-0000-000000000000</groupId>
<id>28c38707-3531-30b1-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>0d542bc3-b7cd-3463-90b7-5c67d78e78ff</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>b3aed196-d56d-3315-0000-000000000000</groupId>
<id>ff0b1c2e-68b2-30ca-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>9378aba0-98aa-3d20-bf29-2b37bdaeb804</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>75bf7636-3078-3768-0000-000000000000</id>
                            <parentGroupId>b3aed196-d56d-3315-0000-000000000000</parentGroupId>
                            <versionedComponentId>14369352-2a84-3d42-81e9-65e51b31c72d</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>b3aed196-d56d-3315-0000-000000000000</groupId>
<id>ff0b1c2e-68b2-30ca-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>9378aba0-98aa-3d20-bf29-2b37bdaeb804</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>b3aed196-d56d-3315-0000-000000000000</groupId>
<id>80c40e60-1195-31cc-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>f58b5515-cf2f-3195-ac67-fcef5826c504</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>eb9ce660-cbff-3b36-0000-000000000000</id>
                            <parentGroupId>b3aed196-d56d-3315-0000-000000000000</parentGroupId>
                            <versionedComponentId>eb9ce660-cbff-3b36-9549-14447e280f89</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>b3aed196-d56d-3315-0000-000000000000</groupId>
<id>ec029d32-7707-3ef3-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>ec029d32-7707-3ef3-9174-a603de2884a6</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>output stream</selectedRelationships>
                            <source>
<groupId>b3aed196-d56d-3315-0000-000000000000</groupId>
<id>28c38707-3531-30b1-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>0d542bc3-b7cd-3463-90b7-5c67d78e78ff</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>ec029d32-7707-3ef3-0000-000000000000</id>
                            <parentGroupId>b3aed196-d56d-3315-0000-000000000000</parentGroupId>
                            <position>
<x>1480.0</x>
<y>320.0</y>
                            </position>
                            <versionedComponentId>ec029d32-7707-3ef3-9174-a603de2884a6</versionedComponentId>
                        </funnels>
                        <processors>
                            <id>28c38707-3531-30b1-0000-000000000000</id>
                            <parentGroupId>b3aed196-d56d-3315-0000-000000000000</parentGroupId>
                            <position>
<x>1328.0</x>
<y>120.0</y>
                            </position>
                            <versionedComponentId>0d542bc3-b7cd-3463-90b7-5c67d78e78ff</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Working Directory</key>
        <value>
            <name>Working Directory</name>
        </value>
    </entry>
    <entry>
        <key>Command Path</key>
        <value>
            <name>Command Path</name>
        </value>
    </entry>
    <entry>
        <key>argumentsStrategy</key>
        <value>
            <name>argumentsStrategy</name>
        </value>
    </entry>
    <entry>
        <key>Command Arguments</key>
        <value>
            <dependencies>
                <dependentValues>Command Arguments Property</dependentValues>
                <propertyName>argumentsStrategy</propertyName>
            </dependencies>
            <name>Command Arguments</name>
        </value>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value>
            <dependencies>
                <dependentValues>Command Arguments Property</dependentValues>
                <propertyName>argumentsStrategy</propertyName>
            </dependencies>
            <name>Argument Delimiter</name>
        </value>
    </entry>
    <entry>
        <key>Ignore STDIN</key>
        <value>
            <name>Ignore STDIN</name>
        </value>
    </entry>
    <entry>
        <key>Output Destination Attribute</key>
        <value>
            <name>Output Destination Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Attribute Length</key>
        <value>
            <name>Max Attribute Length</name>
        </value>
    </entry>
    <entry>
        <key>Output MIME Type</key>
        <value>
            <name>Output MIME Type</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Working Directory</key>
        <value> </value>
    </entry>
    <entry>
        <key>Command Path</key>
        <value>python</value>
    </entry>
    <entry>
        <key>argumentsStrategy</key>
        <value>Command Arguments Property</value>
    </entry>
    <entry>
        <key>Command Arguments</key>
        <value>yolonifi.py ${absolute.path} ${filename}</value>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value> </value>
    </entry>
    <entry>
        <key>Ignore STDIN</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Output Destination Attribute</key>
    </entry>
    <entry>
        <key>Max Attribute Length</key>
        <value>256</value>
    </entry>
    <entry>
        <key>Output MIME Type</key>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Execute Yolo Model</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>nonzero status</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>output stream</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
                        </processors>
                        <processors>
                            <id>80c40e60-1195-31cc-0000-000000000000</id>
                            <parentGroupId>b3aed196-d56d-3315-0000-000000000000</parentGroupId>
                            <position>
<x>824.0</x>
<y>-72.0</y>
                            </position>
                            <versionedComponentId>f58b5515-cf2f-3195-ac67-fcef5826c504</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Input Directory</key>
        <value>
            <name>Input Directory</name>
        </value>
    </entry>
    <entry>
        <key>listing-strategy</key>
        <value>
            <name>listing-strategy</name>
        </value>
    </entry>
    <entry>
        <key>Recurse Subdirectories</key>
        <value>
            <name>Recurse Subdirectories</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>Input Directory Location</key>
        <value>
            <name>Input Directory Location</name>
        </value>
    </entry>
    <entry>
        <key>File Filter</key>
        <value>
            <name>File Filter</name>
        </value>
    </entry>
    <entry>
        <key>Path Filter</key>
        <value>
            <name>Path Filter</name>
        </value>
    </entry>
    <entry>
        <key>Include File Attributes</key>
        <value>
            <name>Include File Attributes</name>
        </value>
    </entry>
    <entry>
        <key>Minimum File Age</key>
        <value>
            <name>Minimum File Age</name>
        </value>
    </entry>
    <entry>
        <key>Maximum File Age</key>
        <value>
            <name>Maximum File Age</name>
        </value>
    </entry>
    <entry>
        <key>Minimum File Size</key>
        <value>
            <name>Minimum File Size</name>
        </value>
    </entry>
    <entry>
        <key>Maximum File Size</key>
        <value>
            <name>Maximum File Size</name>
        </value>
    </entry>
    <entry>
        <key>Ignore Hidden Files</key>
        <value>
            <name>Ignore Hidden Files</name>
        </value>
    </entry>
    <entry>
        <key>target-system-timestamp-precision</key>
        <value>
            <name>target-system-timestamp-precision</name>
        </value>
    </entry>
    <entry>
        <key>et-state-cache</key>
        <value>
            <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
            <name>et-state-cache</name>
        </value>
    </entry>
    <entry>
        <key>et-time-window</key>
        <value>
            <name>et-time-window</name>
        </value>
    </entry>
    <entry>
        <key>et-initial-listing-target</key>
        <value>
            <name>et-initial-listing-target</name>
        </value>
    </entry>
    <entry>
        <key>et-node-identifier</key>
        <value>
            <name>et-node-identifier</name>
        </value>
    </entry>
    <entry>
        <key>track-performance</key>
        <value>
            <name>track-performance</name>
        </value>
    </entry>
    <entry>
        <key>max-performance-metrics</key>
        <value>
            <name>max-performance-metrics</name>
        </value>
    </entry>
    <entry>
        <key>max-operation-time</key>
        <value>
            <name>max-operation-time</name>
        </value>
    </entry>
    <entry>
        <key>max-listing-time</key>
        <value>
            <name>max-listing-time</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Input Directory</key>
        <value> </value>
    </entry>
    <entry>
        <key>listing-strategy</key>
        <value>timestamps</value>
    </entry>
    <entry>
        <key>Recurse Subdirectories</key>
        <value>true</value>
    </entry>
    <entry>
        <key>record-writer</key>
    </entry>
    <entry>
        <key>Input Directory Location</key>
        <value>Local</value>
    </entry>
    <entry>
        <key>File Filter</key>
        <value>[^\.].*</value>
    </entry>
    <entry>
        <key>Path Filter</key>
    </entry>
    <entry>
        <key>Include File Attributes</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Minimum File Age</key>
        <value>0 sec</value>
    </entry>
    <entry>
        <key>Maximum File Age</key>
    </entry>
    <entry>
        <key>Minimum File Size</key>
        <value>0 B</value>
    </entry>
    <entry>
        <key>Maximum File Size</key>
    </entry>
    <entry>
        <key>Ignore Hidden Files</key>
        <value>true</value>
    </entry>
    <entry>
        <key>target-system-timestamp-precision</key>
        <value>auto-detect</value>
    </entry>
    <entry>
        <key>et-state-cache</key>
    </entry>
    <entry>
        <key>et-time-window</key>
        <value>3 hours</value>
    </entry>
    <entry>
        <key>et-initial-listing-target</key>
        <value>all</value>
    </entry>
    <entry>
        <key>et-node-identifier</key>
        <value>${hostname()}</value>
    </entry>
    <entry>
        <key>track-performance</key>
        <value>false</value>
    </entry>
    <entry>
        <key>max-performance-metrics</key>
        <value>100000</value>
    </entry>
    <entry>
        <key>max-operation-time</key>
        <value>10 secs</value>
    </entry>
    <entry>
        <key>max-listing-time</key>
        <value>3 mins</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>List Dataset Files</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ListFile</type>
                        </processors>
                        <processors>
                            <id>ff0b1c2e-68b2-30ca-0000-000000000000</id>
                            <parentGroupId>b3aed196-d56d-3315-0000-000000000000</parentGroupId>
                            <position>
<x>824.0</x>
<y>120.0</y>
                            </position>
                            <versionedComponentId>9378aba0-98aa-3d20-bf29-2b37bdaeb804</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>File to Fetch</key>
        <value>
            <name>File to Fetch</name>
        </value>
    </entry>
    <entry>
        <key>Completion Strategy</key>
        <value>
            <name>Completion Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Move Destination Directory</key>
        <value>
            <name>Move Destination Directory</name>
        </value>
    </entry>
    <entry>
        <key>Move Conflict Strategy</key>
        <value>
            <name>Move Conflict Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Log level when file not found</key>
        <value>
            <name>Log level when file not found</name>
        </value>
    </entry>
    <entry>
        <key>Log level when permission denied</key>
        <value>
            <name>Log level when permission denied</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>File to Fetch</key>
        <value>${absolute.path}/${filename}</value>
    </entry>
    <entry>
        <key>Completion Strategy</key>
        <value>None</value>
    </entry>
    <entry>
        <key>Move Destination Directory</key>
    </entry>
    <entry>
        <key>Move Conflict Strategy</key>
        <value>Rename</value>
    </entry>
    <entry>
        <key>Log level when file not found</key>
        <value>ERROR</value>
    </entry>
    <entry>
        <key>Log level when permission denied</key>
        <value>ERROR</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Read Files Content</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>not.found</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>permission.denied</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.FetchFile</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <logFileSuffix></logFileSuffix>
                    <name>Run YOLO Annotation Model</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>cccc49f9-327b-3cf0-0000-000000000000</id>
                    <parentGroupId>0147f143-a9b6-3b88-0000-000000000000</parentGroupId>
                    <position>
                        <x>448.0</x>
                        <y>496.0</y>
                    </position>
                    <versionedComponentId>cccc49f9-327b-3cf0-8cb0-1cd34e478bc3</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <controllerServices>
                            <id>0e96137f-9877-3920-0000-000000000000</id>
                            <parentGroupId>cccc49f9-327b-3cf0-0000-000000000000</parentGroupId>
                            <versionedComponentId>0e96137f-9877-3920-8e66-f5cbb9d8144d</versionedComponentId>
                            <bulletinLevel>WARN</bulletinLevel>
                            <bundle>
<artifact>nifi-mongodb-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>mongo-uri</key>
    <value>
        <name>mongo-uri</name>
    </value>
</entry>
<entry>
    <key>Database User</key>
    <value>
        <name>Database User</name>
    </value>
</entry>
<entry>
    <key>Password</key>
    <value>
        <name>Password</name>
    </value>
</entry>
<entry>
    <key>ssl-context-service</key>
    <value>
        <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
        <name>ssl-context-service</name>
    </value>
</entry>
<entry>
    <key>ssl-client-auth</key>
    <value>
        <name>ssl-client-auth</name>
    </value>
</entry>
                            </descriptors>
                            <name>MongoDBControllerService</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>mongo-uri</key>
    <value> </value>
</entry>
<entry>
    <key>Database User</key>
    <value> </value>
</entry>
<entry>
    <key>Password</key>
</entry>
<entry>
    <key>ssl-context-service</key>
</entry>
<entry>
    <key>ssl-client-auth</key>
    <value>REQUIRED</value>
</entry>
                            </properties>
                            <state>DISABLED</state>
                            <type>org.apache.nifi.mongodb.MongoDBControllerService</type>
                        </controllerServices>
                        <controllerServices>
                            <id>5a8e35d3-c3ba-3c62-0000-000000000000</id>
                            <parentGroupId>cccc49f9-327b-3cf0-0000-000000000000</parentGroupId>
                            <versionedComponentId>5a8e35d3-c3ba-3c62-bb98-50db49a65af9</versionedComponentId>
                            <bulletinLevel>WARN</bulletinLevel>
                            <bundle>
<artifact>nifi-record-serialization-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>schema-access-strategy</key>
    <value>
        <name>schema-access-strategy</name>
    </value>
</entry>
<entry>
    <key>schema-registry</key>
    <value>
        <dependencies>
            <dependentValues>confluent-encoded</dependentValues>
            <dependentValues>schema-name</dependentValues>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
        <name>schema-registry</name>
    </value>
</entry>
<entry>
    <key>schema-name</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-name</name>
    </value>
</entry>
<entry>
    <key>schema-version</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-version</name>
    </value>
</entry>
<entry>
    <key>schema-branch</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-branch</name>
    </value>
</entry>
<entry>
    <key>schema-text</key>
    <value>
        <dependencies>
            <dependentValues>schema-text-property</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-text</name>
    </value>
</entry>
<entry>
    <key>schema-inference-cache</key>
    <value>
        <dependencies>
            <dependentValues>infer-schema</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
        <name>schema-inference-cache</name>
    </value>
</entry>
<entry>
    <key>starting-field-strategy</key>
    <value>
        <name>starting-field-strategy</name>
    </value>
</entry>
<entry>
    <key>starting-field-name</key>
    <value>
        <dependencies>
            <dependentValues>NESTED_FIELD</dependentValues>
            <propertyName>starting-field-strategy</propertyName>
        </dependencies>
        <name>starting-field-name</name>
    </value>
</entry>
<entry>
    <key>schema-application-strategy</key>
    <value>
        <dependencies>
            <dependentValues>confluent-encoded</dependentValues>
            <dependentValues>schema-name</dependentValues>
            <dependentValues>schema-text-property</dependentValues>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <dependencies>
            <dependentValues>NESTED_FIELD</dependentValues>
            <propertyName>starting-field-strategy</propertyName>
        </dependencies>
        <name>schema-application-strategy</name>
    </value>
</entry>
<entry>
    <key>Max String Length</key>
    <value>
        <name>Max String Length</name>
    </value>
</entry>
<entry>
    <key>Allow Comments</key>
    <value>
        <name>Allow Comments</name>
    </value>
</entry>
<entry>
    <key>Date Format</key>
    <value>
        <name>Date Format</name>
    </value>
</entry>
<entry>
    <key>Time Format</key>
    <value>
        <name>Time Format</name>
    </value>
</entry>
<entry>
    <key>Timestamp Format</key>
    <value>
        <name>Timestamp Format</name>
    </value>
</entry>
                            </descriptors>
                            <name>JsonTreeReader_2</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>schema-access-strategy</key>
    <value>schema-text-property</value>
</entry>
<entry>
    <key>schema-registry</key>
</entry>
<entry>
    <key>schema-name</key>
    <value>${schema.name}</value>
</entry>
<entry>
    <key>schema-version</key>
</entry>
<entry>
    <key>schema-branch</key>
</entry>
<entry>
    <key>schema-text</key>
    <value>{
  "type": "record",
  "name": "InputRecord",
  "fields": [
    {
      "name": "data",
      "type": [
        {
          "type": "record",
          "name": "Image",
          "fields": [
            {"name": "filename", "type": "string"},
            {"name": "fileBase64", "type": "string"}
          ]
        },
        {
          "type": "record",
          "name": "Annotations",
          "fields": [
            {
              "name": "annotations",
              "type": {
                "type": "array",
                "items": {
                  "type": "record",
                  "name": "Annotation",
                  "fields": [
                    {"name": "x", "type": "double"},
                    {"name": "y", "type": "double"},
                    {"name": "width", "type": "double"},
                    {"name": "height", "type": "double"},
                    {"name": "label", "type": "string"},
                    {"name": "confidence", "type": "double"}
                  ]
                }
              }
            }
          ]
        }
      ]
    }
  ]
}</value>
</entry>
<entry>
    <key>schema-inference-cache</key>
</entry>
<entry>
    <key>starting-field-strategy</key>
    <value>ROOT_NODE</value>
</entry>
<entry>
    <key>starting-field-name</key>
</entry>
<entry>
    <key>schema-application-strategy</key>
    <value>SELECTED_PART</value>
</entry>
<entry>
    <key>Max String Length</key>
    <value>50 MB</value>
</entry>
<entry>
    <key>Allow Comments</key>
    <value>false</value>
</entry>
<entry>
    <key>Date Format</key>
</entry>
<entry>
    <key>Time Format</key>
</entry>
<entry>
    <key>Timestamp Format</key>
</entry>
                            </properties>
                            <state>ENABLED</state>
                            <type>org.apache.nifi.json.JsonTreeReader</type>
                        </controllerServices>
                        <controllerServices>
                            <id>93123948-ad3e-3b5b-0000-000000000000</id>
                            <parentGroupId>cccc49f9-327b-3cf0-0000-000000000000</parentGroupId>
                            <versionedComponentId>93123948-ad3e-3b5b-bf9d-7ad66cd9b755</versionedComponentId>
                            <bulletinLevel>WARN</bulletinLevel>
                            <bundle>
<artifact>nifi-record-serialization-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>Schema Write Strategy</key>
    <value>
        <name>Schema Write Strategy</name>
    </value>
</entry>
<entry>
    <key>schema-cache</key>
    <value>
        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
        <name>schema-cache</name>
    </value>
</entry>
<entry>
    <key>schema-protocol-version</key>
    <value>
        <dependencies>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>Schema Write Strategy</propertyName>
        </dependencies>
        <name>schema-protocol-version</name>
    </value>
</entry>
<entry>
    <key>schema-access-strategy</key>
    <value>
        <name>schema-access-strategy</name>
    </value>
</entry>
<entry>
    <key>schema-registry</key>
    <value>
        <dependencies>
            <dependentValues>confluent-encoded</dependentValues>
            <dependentValues>schema-name</dependentValues>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
        <name>schema-registry</name>
    </value>
</entry>
<entry>
    <key>schema-name</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-name</name>
    </value>
</entry>
<entry>
    <key>schema-version</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-version</name>
    </value>
</entry>
<entry>
    <key>schema-branch</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-branch</name>
    </value>
</entry>
<entry>
    <key>schema-text</key>
    <value>
        <dependencies>
            <dependentValues>schema-text-property</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-text</name>
    </value>
</entry>
<entry>
    <key>Date Format</key>
    <value>
        <name>Date Format</name>
    </value>
</entry>
<entry>
    <key>Time Format</key>
    <value>
        <name>Time Format</name>
    </value>
</entry>
<entry>
    <key>Timestamp Format</key>
    <value>
        <name>Timestamp Format</name>
    </value>
</entry>
<entry>
    <key>Pretty Print JSON</key>
    <value>
        <name>Pretty Print JSON</name>
    </value>
</entry>
<entry>
    <key>suppress-nulls</key>
    <value>
        <name>suppress-nulls</name>
    </value>
</entry>
<entry>
    <key>Allow Scientific Notation</key>
    <value>
        <name>Allow Scientific Notation</name>
    </value>
</entry>
<entry>
    <key>output-grouping</key>
    <value>
        <name>output-grouping</name>
    </value>
</entry>
<entry>
    <key>compression-format</key>
    <value>
        <name>compression-format</name>
    </value>
</entry>
<entry>
    <key>compression-level</key>
    <value>
        <dependencies>
            <dependentValues>gzip</dependentValues>
            <propertyName>compression-format</propertyName>
        </dependencies>
        <name>compression-level</name>
    </value>
</entry>
                            </descriptors>
                            <name>JsonRecordSetWriter_2</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>Schema Write Strategy</key>
    <value>no-schema</value>
</entry>
<entry>
    <key>schema-cache</key>
</entry>
<entry>
    <key>schema-protocol-version</key>
    <value>1</value>
</entry>
<entry>
    <key>schema-access-strategy</key>
    <value>schema-text-property</value>
</entry>
<entry>
    <key>schema-registry</key>
</entry>
<entry>
    <key>schema-name</key>
    <value>${schema.name}</value>
</entry>
<entry>
    <key>schema-version</key>
</entry>
<entry>
    <key>schema-branch</key>
</entry>
<entry>
    <key>schema-text</key>
    <value>{
  "type": "record",
  "name": "Merged",
  "fields": [
    {"name": "filename", "type": "string"},
    {"name": "fileBase64", "type": "string"},
    {
      "name": "annotations",
      "type": {
        "type": "array",
        "items": {
          "type": "record",
          "name": "Annotation",
          "fields": [
            {"name": "x", "type": "double"},
            {"name": "y", "type": "double"},
            {"name": "width", "type": "double"},
            {"name": "height", "type": "double"},
            {"name": "label", "type": "string"},
            {"name": "confidence", "type": "double"}
          ]
        }
      }
    }
  ]
}</value>
</entry>
<entry>
    <key>Date Format</key>
</entry>
<entry>
    <key>Time Format</key>
</entry>
<entry>
    <key>Timestamp Format</key>
</entry>
<entry>
    <key>Pretty Print JSON</key>
    <value>false</value>
</entry>
<entry>
    <key>suppress-nulls</key>
    <value>never-suppress</value>
</entry>
<entry>
    <key>Allow Scientific Notation</key>
    <value>true</value>
</entry>
<entry>
    <key>output-grouping</key>
    <value>output-oneline</value>
</entry>
<entry>
    <key>compression-format</key>
    <value>none</value>
</entry>
<entry>
    <key>compression-level</key>
    <value>1</value>
</entry>
                            </properties>
                            <state>ENABLED</state>
                            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
                        </controllerServices>
                        <controllerServices>
                            <id>d16e04eb-398c-313d-0000-000000000000</id>
                            <parentGroupId>cccc49f9-327b-3cf0-0000-000000000000</parentGroupId>
                            <versionedComponentId>d16e04eb-398c-313d-98a1-b53a2da7fd79</versionedComponentId>
                            <bulletinLevel>WARN</bulletinLevel>
                            <bundle>
<artifact>nifi-record-serialization-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>Schema Write Strategy</key>
    <value>
        <name>Schema Write Strategy</name>
    </value>
</entry>
<entry>
    <key>schema-cache</key>
    <value>
        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
        <name>schema-cache</name>
    </value>
</entry>
<entry>
    <key>schema-protocol-version</key>
    <value>
        <dependencies>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>Schema Write Strategy</propertyName>
        </dependencies>
        <name>schema-protocol-version</name>
    </value>
</entry>
<entry>
    <key>schema-access-strategy</key>
    <value>
        <name>schema-access-strategy</name>
    </value>
</entry>
<entry>
    <key>schema-registry</key>
    <value>
        <dependencies>
            <dependentValues>confluent-encoded</dependentValues>
            <dependentValues>schema-name</dependentValues>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
        <name>schema-registry</name>
    </value>
</entry>
<entry>
    <key>schema-name</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-name</name>
    </value>
</entry>
<entry>
    <key>schema-version</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-version</name>
    </value>
</entry>
<entry>
    <key>schema-branch</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-branch</name>
    </value>
</entry>
<entry>
    <key>schema-text</key>
    <value>
        <dependencies>
            <dependentValues>schema-text-property</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-text</name>
    </value>
</entry>
<entry>
    <key>Date Format</key>
    <value>
        <name>Date Format</name>
    </value>
</entry>
<entry>
    <key>Time Format</key>
    <value>
        <name>Time Format</name>
    </value>
</entry>
<entry>
    <key>Timestamp Format</key>
    <value>
        <name>Timestamp Format</name>
    </value>
</entry>
<entry>
    <key>Pretty Print JSON</key>
    <value>
        <name>Pretty Print JSON</name>
    </value>
</entry>
<entry>
    <key>suppress-nulls</key>
    <value>
        <name>suppress-nulls</name>
    </value>
</entry>
<entry>
    <key>Allow Scientific Notation</key>
    <value>
        <name>Allow Scientific Notation</name>
    </value>
</entry>
<entry>
    <key>output-grouping</key>
    <value>
        <name>output-grouping</name>
    </value>
</entry>
<entry>
    <key>compression-format</key>
    <value>
        <name>compression-format</name>
    </value>
</entry>
<entry>
    <key>compression-level</key>
    <value>
        <dependencies>
            <dependentValues>gzip</dependentValues>
            <propertyName>compression-format</propertyName>
        </dependencies>
        <name>compression-level</name>
    </value>
</entry>
                            </descriptors>
                            <name>JsonRecordSetWriter</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>Schema Write Strategy</key>
    <value>no-schema</value>
</entry>
<entry>
    <key>schema-cache</key>
</entry>
<entry>
    <key>schema-protocol-version</key>
    <value>1</value>
</entry>
<entry>
    <key>schema-access-strategy</key>
    <value>schema-text-property</value>
</entry>
<entry>
    <key>schema-registry</key>
</entry>
<entry>
    <key>schema-name</key>
    <value>${schema.name}</value>
</entry>
<entry>
    <key>schema-version</key>
</entry>
<entry>
    <key>schema-branch</key>
</entry>
<entry>
    <key>schema-text</key>
    <value>{
  "type": "record",
  "name": "FileRecord",
  "fields": [
    {"name": "filename", "type": "string"},
    {"name": "imageBase64", "type": "string"}
  ]
}</value>
</entry>
<entry>
    <key>Date Format</key>
</entry>
<entry>
    <key>Time Format</key>
</entry>
<entry>
    <key>Timestamp Format</key>
</entry>
<entry>
    <key>Pretty Print JSON</key>
    <value>false</value>
</entry>
<entry>
    <key>suppress-nulls</key>
    <value>never-suppress</value>
</entry>
<entry>
    <key>Allow Scientific Notation</key>
    <value>true</value>
</entry>
<entry>
    <key>output-grouping</key>
    <value>output-oneline</value>
</entry>
<entry>
    <key>compression-format</key>
    <value>none</value>
</entry>
<entry>
    <key>compression-level</key>
    <value>1</value>
</entry>
                            </properties>
                            <state>ENABLED</state>
                            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
                        </controllerServices>
                        <controllerServices>
                            <id>d7c5ae3f-46db-3d46-0000-000000000000</id>
                            <parentGroupId>cccc49f9-327b-3cf0-0000-000000000000</parentGroupId>
                            <versionedComponentId>d7c5ae3f-46db-3d46-b944-a833672a97a8</versionedComponentId>
                            <bulletinLevel>WARN</bulletinLevel>
                            <bundle>
<artifact>nifi-record-serialization-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.28.1</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>schema-access-strategy</key>
    <value>
        <name>schema-access-strategy</name>
    </value>
</entry>
<entry>
    <key>schema-registry</key>
    <value>
        <dependencies>
            <dependentValues>confluent-encoded</dependentValues>
            <dependentValues>schema-name</dependentValues>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
        <name>schema-registry</name>
    </value>
</entry>
<entry>
    <key>schema-name</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-name</name>
    </value>
</entry>
<entry>
    <key>schema-version</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-version</name>
    </value>
</entry>
<entry>
    <key>schema-branch</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-branch</name>
    </value>
</entry>
<entry>
    <key>schema-text</key>
    <value>
        <dependencies>
            <dependentValues>schema-text-property</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-text</name>
    </value>
</entry>
<entry>
    <key>schema-inference-cache</key>
    <value>
        <dependencies>
            <dependentValues>infer-schema</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
        <name>schema-inference-cache</name>
    </value>
</entry>
<entry>
    <key>starting-field-strategy</key>
    <value>
        <name>starting-field-strategy</name>
    </value>
</entry>
<entry>
    <key>starting-field-name</key>
    <value>
        <dependencies>
            <dependentValues>NESTED_FIELD</dependentValues>
            <propertyName>starting-field-strategy</propertyName>
        </dependencies>
        <name>starting-field-name</name>
    </value>
</entry>
<entry>
    <key>schema-application-strategy</key>
    <value>
        <dependencies>
            <dependentValues>confluent-encoded</dependentValues>
            <dependentValues>schema-name</dependentValues>
            <dependentValues>schema-text-property</dependentValues>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <dependencies>
            <dependentValues>NESTED_FIELD</dependentValues>
            <propertyName>starting-field-strategy</propertyName>
        </dependencies>
        <name>schema-application-strategy</name>
    </value>
</entry>
<entry>
    <key>Max String Length</key>
    <value>
        <name>Max String Length</name>
    </value>
</entry>
<entry>
    <key>Allow Comments</key>
    <value>
        <name>Allow Comments</name>
    </value>
</entry>
<entry>
    <key>Date Format</key>
    <value>
        <name>Date Format</name>
    </value>
</entry>
<entry>
    <key>Time Format</key>
    <value>
        <name>Time Format</name>
    </value>
</entry>
<entry>
    <key>Timestamp Format</key>
    <value>
        <name>Timestamp Format</name>
    </value>
</entry>
                            </descriptors>
                            <name>JsonTreeReader</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>schema-access-strategy</key>
    <value>schema-text-property</value>
</entry>
<entry>
    <key>schema-registry</key>
</entry>
<entry>
    <key>schema-name</key>
    <value>${schema.name}</value>
</entry>
<entry>
    <key>schema-version</key>
</entry>
<entry>
    <key>schema-branch</key>
</entry>
<entry>
    <key>schema-text</key>
    <value>{
  "type": "record",
  "name": "FileRecord",
  "fields": [
    {"name": "imageBase64", "type": "string"}
  ]
}</value>
</entry>
<entry>
    <key>schema-inference-cache</key>
</entry>
<entry>
    <key>starting-field-strategy</key>
    <value>ROOT_NODE</value>
</entry>
<entry>
    <key>starting-field-name</key>
</entry>
<entry>
    <key>schema-application-strategy</key>
    <value>SELECTED_PART</value>
</entry>
<entry>
    <key>Max String Length</key>
    <value>20 MB</value>
</entry>
<entry>
    <key>Allow Comments</key>
    <value>true</value>
</entry>
<entry>
    <key>Date Format</key>
</entry>
<entry>
    <key>Time Format</key>
</entry>
<entry>
    <key>Timestamp Format</key>
</entry>
                            </properties>
                            <state>ENABLED</state>
                            <type>org.apache.nifi.json.JsonTreeReader</type>
                        </controllerServices>
                        <processGroups>
                            <id>79bb52d0-cc42-394d-0000-000000000000</id>
                            <parentGroupId>cccc49f9-327b-3cf0-0000-000000000000</parentGroupId>
                            <position>
<x>1320.0</x>
<y>1728.0</y>
                            </position>
                            <versionedComponentId>79bb52d0-cc42-394d-b463-598dfa7a6994</versionedComponentId>
                            <comments></comments>
                            <contents>
<connections>
    <id>1e87fd6b-2f2d-3703-0000-000000000000</id>
    <parentGroupId>79bb52d0-cc42-394d-0000-000000000000</parentGroupId>
    <versionedComponentId>1e87fd6b-2f2d-3703-a70d-fb9c404618da</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>79bb52d0-cc42-394d-0000-000000000000</groupId>
        <id>dd9e11d0-a9d9-3d5b-0000-000000000000</id>
        <type>FUNNEL</type>
        <versionedComponentId>dd9e11d0-a9d9-3d5b-ae6a-448223193af5</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>79bb52d0-cc42-394d-0000-000000000000</groupId>
        <id>5e3487cd-0ca2-3af5-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>5e3487cd-0ca2-3af5-8af8-f3cb9c761a08</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>8ffc9a4a-9766-3c58-0000-000000000000</id>
    <parentGroupId>79bb52d0-cc42-394d-0000-000000000000</parentGroupId>
    <versionedComponentId>8ffc9a4a-9766-3c58-94e3-7108b4c1ddf9</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>79bb52d0-cc42-394d-0000-000000000000</groupId>
        <id>5e3487cd-0ca2-3af5-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>5e3487cd-0ca2-3af5-8af8-f3cb9c761a08</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>79bb52d0-cc42-394d-0000-000000000000</groupId>
        <id>e7dbff30-cdbb-3500-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>e7dbff30-cdbb-3500-b006-c3b8fc60f232</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>90e78c44-4d52-3482-0000-000000000000</id>
    <parentGroupId>79bb52d0-cc42-394d-0000-000000000000</parentGroupId>
    <versionedComponentId>90e78c44-4d52-3482-bc84-887bfea157e6</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>79bb52d0-cc42-394d-0000-000000000000</groupId>
        <id>260dd359-427c-38e9-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>260dd359-427c-38e9-81b3-30efb4245eb2</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>79bb52d0-cc42-394d-0000-000000000000</groupId>
        <id>16e7e604-9243-342f-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>16e7e604-9243-342f-bad8-1f77ae567318</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>c240ef93-9335-3b84-0000-000000000000</id>
    <parentGroupId>79bb52d0-cc42-394d-0000-000000000000</parentGroupId>
    <versionedComponentId>c240ef93-9335-3b84-877d-9fbaaef80391</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>79bb52d0-cc42-394d-0000-000000000000</groupId>
        <id>e7dbff30-cdbb-3500-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>e7dbff30-cdbb-3500-b006-c3b8fc60f232</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>79bb52d0-cc42-394d-0000-000000000000</groupId>
        <id>260dd359-427c-38e9-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>260dd359-427c-38e9-81b3-30efb4245eb2</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<connections>
    <id>d6315b02-791e-3bf7-0000-000000000000</id>
    <parentGroupId>79bb52d0-cc42-394d-0000-000000000000</parentGroupId>
    <versionedComponentId>d6315b02-791e-3bf7-b075-8aa83a413cbf</versionedComponentId>
    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
    <destination>
        <groupId>79bb52d0-cc42-394d-0000-000000000000</groupId>
        <id>16e7e604-9243-342f-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>16e7e604-9243-342f-bad8-1f77ae567318</versionedComponentId>
    </destination>
    <flowFileExpiration>0 sec</flowFileExpiration>
    <labelIndex>1</labelIndex>
    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
    <name></name>
    <selectedRelationships>success</selectedRelationships>
    <source>
        <groupId>79bb52d0-cc42-394d-0000-000000000000</groupId>
        <id>a9233ead-94be-31a6-0000-000000000000</id>
        <type>PROCESSOR</type>
        <versionedComponentId>a9233ead-94be-31a6-9a2d-aae85374c972</versionedComponentId>
    </source>
    <zIndex>0</zIndex>
</connections>
<funnels>
    <id>dd9e11d0-a9d9-3d5b-0000-000000000000</id>
    <parentGroupId>79bb52d0-cc42-394d-0000-000000000000</parentGroupId>
    <position>
        <x>2752.0</x>
        <y>2152.0</y>
    </position>
    <versionedComponentId>dd9e11d0-a9d9-3d5b-ae6a-448223193af5</versionedComponentId>
</funnels>
<processors>
    <id>16e7e604-9243-342f-0000-000000000000</id>
    <parentGroupId>79bb52d0-cc42-394d-0000-000000000000</parentGroupId>
    <position>
        <x>2632.0</x>
        <y>1600.0</y>
    </position>
    <versionedComponentId>16e7e604-9243-342f-bad8-1f77ae567318</versionedComponentId>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.28.1</version>
    </bundle>
    <config>
        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>File to Fetch</key>
                <value>
                    <name>File to Fetch</name>
                </value>
            </entry>
            <entry>
                <key>Completion Strategy</key>
                <value>
                    <name>Completion Strategy</name>
                </value>
            </entry>
            <entry>
                <key>Move Destination Directory</key>
                <value>
                    <name>Move Destination Directory</name>
                </value>
            </entry>
            <entry>
                <key>Move Conflict Strategy</key>
                <value>
                    <name>Move Conflict Strategy</name>
                </value>
            </entry>
            <entry>
                <key>Log level when file not found</key>
                <value>
                    <name>Log level when file not found</name>
                </value>
            </entry>
            <entry>
                <key>Log level when permission denied</key>
                <value>
                    <name>Log level when permission denied</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>File to Fetch</key>
                <value>${absolute.path}/${filename}</value>
            </entry>
            <entry>
                <key>Completion Strategy</key>
                <value>None</value>
            </entry>
            <entry>
                <key>Move Destination Directory</key>
            </entry>
            <entry>
                <key>Move Conflict Strategy</key>
                <value>Rename</value>
            </entry>
            <entry>
                <key>Log level when file not found</key>
                <value>ERROR</value>
            </entry>
            <entry>
                <key>Log level when permission denied</key>
                <value>ERROR</value>
            </entry>
        </properties>
        <retryCount>10</retryCount>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>5 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>Fetch Annotated File Contents</name>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
        <retry>false</retry>
    </relationships>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>not.found</name>
        <retry>false</retry>
    </relationships>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>permission.denied</name>
        <retry>false</retry>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
        <retry>false</retry>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.standard.FetchFile</type>
</processors>
<processors>
    <id>260dd359-427c-38e9-0000-000000000000</id>
    <parentGroupId>79bb52d0-cc42-394d-0000-000000000000</parentGroupId>
    <position>
        <x>2632.0</x>
        <y>1856.0</y>
    </position>
    <versionedComponentId>260dd359-427c-38e9-81b3-30efb4245eb2</versionedComponentId>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.28.1</version>
    </bundle>
    <config>
        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Mode</key>
                <value>
                    <name>Mode</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>Mode</key>
                <value>Encode</value>
            </entry>
        </properties>
        <retryCount>10</retryCount>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>5 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>Encode Content</name>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
        <retry>false</retry>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
        <retry>false</retry>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.standard.Base64EncodeContent</type>
</processors>
<processors>
    <id>5e3487cd-0ca2-3af5-0000-000000000000</id>
    <parentGroupId>79bb52d0-cc42-394d-0000-000000000000</parentGroupId>
    <position>
        <x>2176.0</x>
        <y>2112.0</y>
    </position>
    <versionedComponentId>5e3487cd-0ca2-3af5-8af8-f3cb9c761a08</versionedComponentId>
    <bundle>
        <artifact>nifi-mongodb-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.28.1</version>
    </bundle>
    <config>
        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>mongo-client-service</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.mongodb.MongoDBClientService</identifiesControllerService>
                    <name>mongo-client-service</name>
                </value>
            </entry>
            <entry>
                <key>Mongo URI</key>
                <value>
                    <name>Mongo URI</name>
                </value>
            </entry>
            <entry>
                <key>Mongo Database Name</key>
                <value>
                    <name>Mongo Database Name</name>
                </value>
            </entry>
            <entry>
                <key>Mongo Collection Name</key>
                <value>
                    <name>Mongo Collection Name</name>
                </value>
            </entry>
            <entry>
                <key>ssl-context-service</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                    <name>ssl-context-service</name>
                </value>
            </entry>
            <entry>
                <key>ssl-client-auth</key>
                <value>
                    <name>ssl-client-auth</name>
                </value>
            </entry>
            <entry>
                <key>Mode</key>
                <value>
                    <name>Mode</name>
                </value>
            </entry>
            <entry>
                <key>Upsert</key>
                <value>
                    <name>Upsert</name>
                </value>
            </entry>
            <entry>
                <key>Update Query Key</key>
                <value>
                    <name>Update Query Key</name>
                </value>
            </entry>
            <entry>
                <key>putmongo-update-query</key>
                <value>
                    <name>putmongo-update-query</name>
                </value>
            </entry>
            <entry>
                <key>put-mongo-update-mode</key>
                <value>
                    <name>put-mongo-update-mode</name>
                </value>
            </entry>
            <entry>
                <key>Write Concern</key>
                <value>
                    <name>Write Concern</name>
                </value>
            </entry>
            <entry>
                <key>Character Set</key>
                <value>
                    <name>Character Set</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>mongo-client-service</key>
                <value>0e96137f-9877-3920-0000-000000000000</value>
            </entry>
            <entry>
                <key>Mongo URI</key>
            </entry>
            <entry>
                <key>Mongo Database Name</key>
                <value> </value>
            </entry>
            <entry>
                <key>Mongo Collection Name</key>
                <value> </value>
            </entry>
            <entry>
                <key>ssl-context-service</key>
            </entry>
            <entry>
                <key>ssl-client-auth</key>
                <value>REQUIRED</value>
            </entry>
            <entry>
                <key>Mode</key>
                <value>update</value>
            </entry>
            <entry>
                <key>Upsert</key>
                <value>true</value>
            </entry>
            <entry>
                <key>Update Query Key</key>
                <value>filename</value>
            </entry>
            <entry>
                <key>putmongo-update-query</key>
            </entry>
            <entry>
                <key>put-mongo-update-mode</key>
                <value>doc</value>
            </entry>
            <entry>
                <key>Write Concern</key>
                <value>ACKNOWLEDGED</value>
            </entry>
            <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
            </entry>
        </properties>
        <retryCount>10</retryCount>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>Store in Annotator database</name>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
        <retry>false</retry>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
        <retry>false</retry>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.mongodb.PutMongo</type>
</processors>
<processors>
    <id>a9233ead-94be-31a6-0000-000000000000</id>
    <parentGroupId>79bb52d0-cc42-394d-0000-000000000000</parentGroupId>
    <position>
        <x>2176.0</x>
        <y>1600.0</y>
    </position>
    <versionedComponentId>a9233ead-94be-31a6-9a2d-aae85374c972</versionedComponentId>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.28.1</version>
    </bundle>
    <config>
        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Input Directory</key>
                <value>
                    <name>Input Directory</name>
                </value>
            </entry>
            <entry>
                <key>listing-strategy</key>
                <value>
                    <name>listing-strategy</name>
                </value>
            </entry>
            <entry>
                <key>Recurse Subdirectories</key>
                <value>
                    <name>Recurse Subdirectories</name>
                </value>
            </entry>
            <entry>
                <key>record-writer</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                    <name>record-writer</name>
                </value>
            </entry>
            <entry>
                <key>Input Directory Location</key>
                <value>
                    <name>Input Directory Location</name>
                </value>
            </entry>
            <entry>
                <key>File Filter</key>
                <value>
                    <name>File Filter</name>
                </value>
            </entry>
            <entry>
                <key>Path Filter</key>
                <value>
                    <name>Path Filter</name>
                </value>
            </entry>
            <entry>
                <key>Include File Attributes</key>
                <value>
                    <name>Include File Attributes</name>
                </value>
            </entry>
            <entry>
                <key>Minimum File Age</key>
                <value>
                    <name>Minimum File Age</name>
                </value>
            </entry>
            <entry>
                <key>Maximum File Age</key>
                <value>
                    <name>Maximum File Age</name>
                </value>
            </entry>
            <entry>
                <key>Minimum File Size</key>
                <value>
                    <name>Minimum File Size</name>
                </value>
            </entry>
            <entry>
                <key>Maximum File Size</key>
                <value>
                    <name>Maximum File Size</name>
                </value>
            </entry>
            <entry>
                <key>Ignore Hidden Files</key>
                <value>
                    <name>Ignore Hidden Files</name>
                </value>
            </entry>
            <entry>
                <key>target-system-timestamp-precision</key>
                <value>
                    <name>target-system-timestamp-precision</name>
                </value>
            </entry>
            <entry>
                <key>et-state-cache</key>
                <value>
                    <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
                    <name>et-state-cache</name>
                </value>
            </entry>
            <entry>
                <key>et-time-window</key>
                <value>
                    <name>et-time-window</name>
                </value>
            </entry>
            <entry>
                <key>et-initial-listing-target</key>
                <value>
                    <name>et-initial-listing-target</name>
                </value>
            </entry>
            <entry>
                <key>et-node-identifier</key>
                <value>
                    <name>et-node-identifier</name>
                </value>
            </entry>
            <entry>
                <key>track-performance</key>
                <value>
                    <name>track-performance</name>
                </value>
            </entry>
            <entry>
                <key>max-performance-metrics</key>
                <value>
                    <name>max-performance-metrics</name>
                </value>
            </entry>
            <entry>
                <key>max-operation-time</key>
                <value>
                    <name>max-operation-time</name>
                </value>
            </entry>
            <entry>
                <key>max-listing-time</key>
                <value>
                    <name>max-listing-time</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>Input Directory</key>
                <value> </value>
            </entry>
            <entry>
                <key>listing-strategy</key>
                <value>timestamps</value>
            </entry>
            <entry>
                <key>Recurse Subdirectories</key>
                <value>true</value>
            </entry>
            <entry>
                <key>record-writer</key>
            </entry>
            <entry>
                <key>Input Directory Location</key>
                <value>Local</value>
            </entry>
            <entry>
                <key>File Filter</key>
                <value>^(?!.*\.txt$).*</value>
            </entry>
            <entry>
                <key>Path Filter</key>
            </entry>
            <entry>
                <key>Include File Attributes</key>
                <value>true</value>
            </entry>
            <entry>
                <key>Minimum File Age</key>
                <value>0 sec</value>
            </entry>
            <entry>
                <key>Maximum File Age</key>
            </entry>
            <entry>
                <key>Minimum File Size</key>
                <value>0 B</value>
            </entry>
            <entry>
                <key>Maximum File Size</key>
            </entry>
            <entry>
                <key>Ignore Hidden Files</key>
                <value>true</value>
            </entry>
            <entry>
                <key>target-system-timestamp-precision</key>
                <value>auto-detect</value>
            </entry>
            <entry>
                <key>et-state-cache</key>
            </entry>
            <entry>
                <key>et-time-window</key>
                <value>3 hours</value>
            </entry>
            <entry>
                <key>et-initial-listing-target</key>
                <value>all</value>
            </entry>
            <entry>
                <key>et-node-identifier</key>
                <value>${hostname()}</value>
            </entry>
            <entry>
                <key>track-performance</key>
                <value>false</value>
            </entry>
            <entry>
                <key>max-performance-metrics</key>
                <value>100000</value>
            </entry>
            <entry>
                <key>max-operation-time</key>
                <value>10 secs</value>
            </entry>
            <entry>
                <key>max-listing-time</key>
                <value>3 mins</value>
            </entry>
        </properties>
        <retryCount>10</retryCount>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>List Annotated Media</name>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
        <retry>false</retry>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.standard.ListFile</type>
</processors>
<processors>
    <id>e7dbff30-cdbb-3500-0000-000000000000</id>
    <parentGroupId>79bb52d0-cc42-394d-0000-000000000000</parentGroupId>
    <position>
        <x>2176.0</x>
        <y>1856.0</y>
    </position>
    <versionedComponentId>e7dbff30-cdbb-3500-b006-c3b8fc60f232</versionedComponentId>
    <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.28.1</version>
    </bundle>
    <config>
        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
            <entry>
                <key>Replacement Strategy</key>
                <value>
                    <name>Replacement Strategy</name>
                </value>
            </entry>
            <entry>
                <key>Regular Expression</key>
                <value>
                    <dependencies>
                        <dependentValues>Regex Replace</dependentValues>
                        <dependentValues>Literal Replace</dependentValues>
                        <propertyName>Replacement Strategy</propertyName>
                    </dependencies>
                    <name>Regular Expression</name>
                </value>
            </entry>
            <entry>
                <key>Replacement Value</key>
                <value>
                    <dependencies>
                        <dependentValues>Prepend</dependentValues>
                        <dependentValues>Regex Replace</dependentValues>
                        <dependentValues>Always Replace</dependentValues>
                        <dependentValues>Append</dependentValues>
                        <dependentValues>Literal Replace</dependentValues>
                        <propertyName>Replacement Strategy</propertyName>
                    </dependencies>
                    <name>Replacement Value</name>
                </value>
            </entry>
            <entry>
                <key>Text to Prepend</key>
                <value>
                    <dependencies>
                        <dependentValues>Surround</dependentValues>
                        <propertyName>Replacement Strategy</propertyName>
                    </dependencies>
                    <name>Text to Prepend</name>
                </value>
            </entry>
            <entry>
                <key>Text to Append</key>
                <value>
                    <dependencies>
                        <dependentValues>Surround</dependentValues>
                        <propertyName>Replacement Strategy</propertyName>
                    </dependencies>
                    <name>Text to Append</name>
                </value>
            </entry>
            <entry>
                <key>Character Set</key>
                <value>
                    <name>Character Set</name>
                </value>
            </entry>
            <entry>
                <key>Maximum Buffer Size</key>
                <value>
                    <name>Maximum Buffer Size</name>
                </value>
            </entry>
            <entry>
                <key>Evaluation Mode</key>
                <value>
                    <name>Evaluation Mode</name>
                </value>
            </entry>
            <entry>
                <key>Line-by-Line Evaluation Mode</key>
                <value>
                    <name>Line-by-Line Evaluation Mode</name>
                </value>
            </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
            <entry>
                <key>Replacement Strategy</key>
                <value>Regex Replace</value>
            </entry>
            <entry>
                <key>Regular Expression</key>
                <value>(?s)(^.*$)</value>
            </entry>
            <entry>
                <key>Replacement Value</key>
                <value>{"filename": "${filename}","fileBase64": "$1"}</value>
            </entry>
            <entry>
                <key>Text to Prepend</key>
            </entry>
            <entry>
                <key>Text to Append</key>
            </entry>
            <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
            </entry>
            <entry>
                <key>Maximum Buffer Size</key>
                <value>10 MB</value>
            </entry>
            <entry>
                <key>Evaluation Mode</key>
                <value>Entire text</value>
            </entry>
            <entry>
                <key>Line-by-Line Evaluation Mode</key>
                <value>All</value>
            </entry>
        </properties>
        <retryCount>10</retryCount>
        <runDurationMillis>25</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
    </config>
    <executionNodeRestricted>false</executionNodeRestricted>
    <name>Convert to Json</name>
    <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
        <retry>false</retry>
    </relationships>
    <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
        <retry>false</retry>
    </relationships>
    <state>STOPPED</state>
    <style/>
    <type>org.apache.nifi.processors.standard.ReplaceText</type>
</processors>
                            </contents>
                            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                            <name>Update Annotator Database</name>
                            <variables/>
                        </processGroups>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <logFileSuffix></logFileSuffix>
                    <name>Store files to Annotator Database</name>
                    <variables/>
                </processGroups>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>YOLO with MonogDB</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>06/27/2025 13:44:09 IST</timestamp>
</template>
